sandbox
build
*.swp
*~
*.bak
*.tmp
*.log
version.json
node_modules
npm-debug.log
app_settings.json
docs-dist
.grunt
config/data/*.json
.DS_Store
*.sublime*
*.orig
dashboard/build/*
!dashboard/build/index.html
profiles/*
profiles/.*
!profiles/default
install_token
