routes/debug.js
sandbox
build
.vscode
.vscode/.*
.vscode/*
*.swp
*~
*.bak
*.tmp
*.log
version.json
node_modules
npm-debug.log
app_settings.json
docs-dist
.grunt
config/data/*.json
.DS_Store
*.sublime*
*.orig
dashboard/build/*
profiles/*
profiles/.*
!dashboard/build/index.html
!profiles/fabmo-profile-dev-tests
!profiles/fabmo-profile-atc
!profiles/fabmo-profile-dt
!profiles/fabmo-handibot-2
!profiles/default
!profiles/README.md
install_token
runtime/opensbp/test.sbp
package-lock.json
