[Unit]
Description=Video Camera Server
After=network.target

[Service]
ExecStart=/opt/fabmo/approot/approot/video.fma/camera-server -a 0.0.0.0 -p 3141
User=root
Restart=always
StandardOutput=null

[Install]
WantedBy=multi-user.target
