[Unit]
Description=Video Camera Server
After=network.target

[Service]
ExecStart=/fabmo/dashboard/apps/video.fma/camera-server -a 0.0.0.0 -p 3142 -c 2
User=root
Restart=always
StandardOutput=null

[Install]
WantedBy=multi-user.target
