/* To Implement a Tooltip in FabMo -- (no dependencies) -- 
        - reference this sheet;
        - add class="tooltip" to the element you want to have a tooltip;
        - add class="tooltiptext" to the element you want to be the tooltip text;
        - add the text you want to be the tooltip text between the opening and closing tags of the element with class="tooltiptext"
        - add class="tooltip-below" to the element you want to have a tooltip below the element;
*/

/* Tooltip container */

.tooltip {
    background-color: #bdbdbd;
    position: relative;
    left: 5px;
    top: -5px;
    display: inline-block;
    z-index: 50;
    padding: 0px;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    line-height: 100%;
    color: #eee;
    text-align: center;
    font-size: 1rem;
    font-family: serif;
    cursor: pointer;
  }
    /* Tooltip position for logo */
    .tooltip-logo {
      left: -5px;
      top: -5px;
    }
  
    /* Tooltip text */
    .tooltip .tooltiptext {
      visibility: hidden;
      max-width: 500px;
      background-color: #bdbdbd;
      color: #fff;
      font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
      line-height: 1.2;
      font-size: .9rem;
      text-align: left;
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      border-radius: 6px;
      /* Position the tooltip text */
      position: absolute;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;
      /* Fade in tooltip */
      opacity: 0;
      transition: opacity 1s;
    }
    
    /* Tooltip arrow */
    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      font-size: .875rem;
      top: 100%;
      left: 16%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #bdbdbd transparent transparent transparent;
    }
    
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
      visibility: visible;
      display: inline-block;
      width: max-content;
      max-width: 500px;
      opacity: 1;
    }
  
    /* Tooltip-below container */
    .tooltip-below .tooltiptext {
      top: 130%; /* Position below the trigger element */
      bottom: auto; /* Remove the bottom property */
    }
  
    /* Tooltip-below arrow */
    .tooltip-below .tooltiptext::after {
      content: "";
      position: absolute;
      bottom: 100%; /* Position the arrow at the bottom of the tooltip when it is above the trigger */
      top: auto; /* Remove the top property */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #bdbdbd transparent; /* Flip the arrow to point upwards */
    }
  
    /* Optional: Adjust the left property of the arrow for better alignment */
    .tooltip-below .tooltiptext::after {
      left: 20%; /* Adjust as needed for proper alignment */
    }
  
    /* Tool Tip Link */
    .tooltiplink {
      color: #007bff !important;
      text-decoration: underline;
    }
    
    .tooltiplink:hover {
      color: #0056b3 !important;
      text-decoration: none;
    }
    