@import "fonts.css";

html{
    color: black;
    font-family: 'source_sans_proregular';
}

body {
    color: black;
    font-family: 'source_sans_proregular';
    height: 100%;
    width: 100%;
    background-color: #eee;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.doselect {
 -moz-user-select: text;
 -khtml-user-select: text;
 -webkit-user-select: text;
 -ms-user-select: text;
 user-select: text;
 cursor: text;
}

.main-section, .app-section, .spinner-section {
	height: 1003%;
	background-color: #eee;
}

.off-canvas-wrap, .inner-wrap {
	height: auto;
	margin-bottom:0px;
	padding-top: 1.75rem;
}

/* ********** Top Bar Settings ********** */

.tab-bar {
	background: #313366;
	z-index: 1005;
	position: fixed;
	width: 100%;
	top: 0;
	height: 56px;
}

.tab-bar a { color : #fff;}
.tab-bar .middle {
	margin-right: auto;
	width: 192px;
	width: 12rem;
	margin-left: auto;
	text-align: center;
}
.tab-bar .right-small, .left-small { border-color: #efefef;}
.left-small {position: inherit;}

.top-bar h1  {
	width: 170px;
	size: 1rem;
}


#mainContent{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 40000;
	background-color: #444;
	padding: 4em;
	display: none;
}

#mainContent .main{
	background-color: #fff;
	padding: 2em;
	border-radius: 5px;
}

#mainContent .main  h1{
	color: #666;
}

@media only screen and (max-width: 500px) {
	#mainContent{
		padding: 0;
		background-color: #fcf9f9;
	}
	#mainContent .main{
		width: 100%;
		padding: 0.5em;
		border-radius: 0px;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(235,228,235,1);
-moz-box-shadow: 0px 2px 3px 0px rgba(235,228,235,1);
box-shadow: 0px 2px 3px 0px rgba(235,228,235,1);
	}

	#mainContent h1 {
		font-size: 25px;
		margin: 0;
	}

	#mainContent hr {
		margin: 0.2em;
	}

	#mainContent input {
		width: 98%;
		margin: 0.4em;
	}
}

#tools-container {
	margin-left: 16px;
	margin-left: 1rem;
	height: 100%;
	width: 160px;
	width: 10rem;
	max-width: 192px;
	max-width: 12rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#tools-container button {
	padding: 0px;
	margin-right: 20px;
	margin-right: 1,25rem;
	margin-bottom: 0px;
	height: 100%;
	max-width: inherit;
}

#tools-container *:focus {
	outline: none !important;
}

#tools-container .dropdown.button:after, #tools-container button.dropdown:after {
	border-width: 0;
	right: 13px;
	right: 0.8125rem;
	margin-top: -2px;
	margin-top: -0.125rem;
}

#tools-container .tools-current > li {
	list-style: none;
}

#tools-container .tools-current > li a {
	padding: 13px 16px 13px 32px;
	padding: 13px 1rem 13px 2rem;
	font-size: 16px;
	font-size: 1rem;
}

 #tools-container .tools-current > li a, #tools-container .tools-other > li a {
	background-image: url('../img/icon_status_green.png');
	background-repeat: no-repeat;
	background-size: 10px;
	background-size: 0.625rem;
	background-position: center left 14px;
	background-position: center left 0.875rem;
	text-align: left;
}

#tools-container .tools-current > li a.err 		{ background-image: url('../img/icon_status_red.png'); 	}
#tools-container .tools-current > li a.disc 	{ background-image: url('../img/icon_status_grey.png');	}
#tools-container .tools-current > li a.paus 	{ background-image: url('../img/icon_status_yellow.png'); }

#tools-container .tools-other > li { border-bottom: 1px solid #eee; }

#tools-container .tools-other > li a, #tools-container .tools-refresh > li a {
	padding: 11px 16px 11px 32px;
	padding: 11px 1rem 11px 2rem;
	font-size: 15px;
	font-size: 0.9375rem;
}

#tools-container .tools-refresh > li a {
	height: 38px;
	height: 2.375rem;
	background: url('../img/icon_refresh.png') center no-repeat;
	background-size: 20px;
	background-size: 1.25rem;
}

#right-position-container {
	height: 100%;
    position: absolute;
    color: #eee;
    right: 0;
    top: 0;
    text-align: right;
	font-family: 'source_sans_proextralight';
	font-size: 14px;
	line-height: 15px;
}

.machine-pos {
	display: inline-block;
	text-align: center;
	padding-right: 10px;

}

.input, .output, .inoutLabel, .inOutSwitch {
	width: 1rem;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	/* border: 0.5px solid transparent; */
}

.input.on, .output.on {
	
	/* border: 0.5px solid #32B433; */
	background-color: #eee;
	color: #313366;
	font-weight: bold;
}

#tool-name-container {
	height: 100%;
	width: 15rem;
	position: absolute;
	color: #eee;
	left: 3rem;
	top: 0;
	vertical-align: middle;
}

#tool-name {
  max-width: 16em;
  overflow: hidden;
  white-space: nowrap
}

#right-position-container span, #right-position-container label {
	color: #fff;
	cursor: text;
}

#left-position-container {
	height: 100%;
}

#connection-strength-indicator {
	height: 30px;
   max-width:30px;
}

.svg-container {
	height: 100%;
}

#connection-strength-indicator .on {
	fill: #EEEEEE;
}

#connection-strength-indicator .off {
	fill: #535D8A;
}

#connection-strength-indicator .err {
	fill: #91331E;
}

/* ********** Menu Style ********** */

.right-off-canvas-menu, .left-off-canvas-menu {

	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	color: #fff;
	top: 45px;
	top: 2.8125rem;
	bottom: 0px;
	height: auto;
	position: fixed;
}

.left-off-canvas-menu {
	background-color: #444;
	width: 182px;
	width: 11.375rem;
}




/* Change #left-menu & #right-menu config */


@media only screen and (min-width: 40.063em) {
	.left-off-canvas-menu	{ float: left; }
	#close_menu.exit-off-canvas	{ display: none !important; }
}

@media only screen and (max-width: 40.063em) {
	.left-off-canvas-menu {
		width: 220px;
		width: 13.75rem;
	}
}

.left-menu.icon-bar > * {
	padding: 6px 12px;
	padding: 0.375rem 0.75rem;
}

#left-menu.colapsed {
	width: 46px;
	width: 2.875rem;
}

ul.off-canvas-list li:not(.tool) a:hover, ul.off-canvas-list li.no-link:hover {
	background-color: #666;
	background-color: rgba(0,0,0,0.25);
	cursor: pointer;
}

ul.off-canvas-list li a, ul.off-canvas-list li.no-link {
	border-bottom : 0px solid #fff;
	color : rgb(240,240,240);
	padding: 11px;
	padding: 0.6875rem;
}

.offcanvas-overlap-left .exit-off-canvas :hover,
.offcanvas-overlap-right .exit-off-canvas :hover {
	background: rgba(0, 0, 0, 0.08);
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}

.offcanvas-overlap-left .exit-off-canvas,
.offcanvas-overlap-right .exit-off-canvas {
	background: rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 40.063em) {
	.offcanvas-overlap-left .exit-off-canvas:hover,
	.offcanvas-overlap-right .exit-off-canvas:hover {
	background: rgba(0, 0, 0, 0.08);
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}}


#util-menu-small a {
	padding-left: 44px;
	padding-left: 2.75rem;
	background-repeat: no-repeat;
	background-size: 20px;
	background-size: 1.25rem;
	background-position: center left 12px;
	background-position: center left 0.75rem;
}

.collapseLeft{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.5;
	z-index: 5;
	display: none;
}

/*
*** Widgets Styles
*/

.widget {
	margin-bottom: 7px;
	margin-bottom: 0.4375rem;
	margin-top: 0.5rem;
}

.widget.colapsed span {	display: none; }
.widget.colapsed label { display: none; }

.widget.colapsed ul li a {
	height: 46px;
	height : 2.875rem;
	padding-left : 0px !important;
}

.widget ul li:first-child label {
	border-top: none;
	border-bottom : 1px solid #eee;
	padding: 5px 8px 2px;
	padding: 0.3125rem 0.5rem 0.125rem;
	background: #fff;
	background: none;
	color: #ddd;
}

.widget .hidden .toHide { display: none;}

.widget .refresh {
	background: url('../img/icon_refresh.png') center no-repeat;
	background-size: 20px;
	background-size: 1.25rem;
	height: 36px;
	height: 2.25rem;
}

.widget .refresh a {
	height: 36px;
	height: 2.25rem;
}

.widget .sortable-ghost {
	border: 2px dashed #ccc;
	background : url('../img/icon_plus_cross.png') no-repeat center;
	background-size: 32px;
	background-size: 2rem;
}

.widget .sortable-ghost > * { visibility: hidden; }

.widget .tool {
	background-image: url('../img/icon_status_green.png');
	background-repeat: no-repeat;
	background-size: 0.75rem;
	background-position: center left 1.0875rem;
	text-align: left;
}

.widget .tool.err 	{background-image: url('../img/icon_status_red.png');}
.widget .tool.disc 	{background-image: url('../img/icon_status_grey.png');}

.widget .tools-current .tool {
	background-color: #999;
	background-color: rgba(0,0,0,0.2);
}

.widget .tools-other .tool:hover,  .widget .refresh a:hover{
	background-color: #777;
	background-color: rgba(0, 0, 0, 0.05) !important;
}

.widget .tool a {
	z-index: 1005;
	padding-left: 44px !important;
	padding-left: 2.75rem !important;
	width: 80.25%;
}

.widget .tool a:hover {
	/*
	background-color: rgba(0, 0, 0, 0);
	*/
}

.widget .tool span {
	-webkit-transition: opacity .15s;
	transition: opacity .15s;
	filter: alpha(opacity=0); /* For IE8 and earlier */
	opacity: 0;
	cursor: pointer;
	color: #c00;
	width: 19.75%;
	height: 46px;
	height: 2.875rem;
	background: url('../img/icon_details.png') center no-repeat;
	background-size: 20px;
	background-size: 1.25rem;
	float: right;
	z-index: 1010;
}

.widget .tool:hover span {
	filter: alpha(opacity=100); /* For IE8 and earlier */
	opacity: 1;
}

.widget .tool span:hover {
	background-size: 18px;
	background-size: 1.125rem;
}

.widget ul label.settings:hover {
	background-image: url('../img/icon_more.png');
	background-repeat: no-repeat;
	background-size: 30px;
	background-size: 1.875rem;
	background-position: center right 14px;
	background-position: center right 0.875rem;
}

.icon-bar { background: #fff;}

@media only screen and (min-width: 64.063em) {
	.icon-bar.large-vertical {
		margin-right: 5px;
		margin-right: 0.3125rem;
	}
}

#icon_home 			{ background-image: url('../img/icon_home.png');}
#icon_jobs 			{ background-image: url('../img/icon_jobs.png');}
#icon_global 		{ background-image: url('../img/icon_global.png');}
#icon_apps 			{ background-image: url('../img/icon_apps.png');}
#icon_social 		{ background-image: url('../img/icon_social.png');}
#icon_search 		{ background-image: url('../img/icon_search.png');}
#icon_folder 		{ background-image: url('../img/icon_folder.png');}
#icon_settings 		{ background-image: url('../img/icon_settings.png');}
#icon_colapse 		{ background-image: url('../img/icon_colapse_r.png');}
#icon_edit 			{ background-image: url('../img/icon_folder.png');}
#icon_editor 		{ background-image: url('../img/icon_editor.png');}
#icon_handwheel 	{ background-image: url('../img/icon_refresh.png');}
#icon_log 			{ background-image: url('../img/icon_log.png');	}
#icon_network 		{ background-image: url('../img/icon_network.png');	}
#icon_sign_out 		{ background-image: url('../img/icon_sign_out.png');	}
#icon_drive {
	position: relative;
}

#icon_drive:before {
	position: absolute;
    font-family: 'FontAwesome';
    font-size: 22px;
    top: 5px;
    left: 10px;
    content: "\F11B";
}



.colapsed #icon_colapse { background-image: url('../img/icon_colapse.png');	}

/****** Right Menu ******/



#job-info ul li:first-child label {
	background-color: #aaa;
	text-align: center;
	color: #fff;
	font-family: 'Droid_Sans_Mono';
	font-size: 15rem;
	font-size: 0.9375rem;
	font-weight: bolder;
	text-transform: capitalize;
	border-bottom: none;
	margin: 0 auto;
}

.progress-container {
	border: 2px solid black;
	background: gray;
	border-radius: 5px;
	height: 20px;
}

.progress {
	border-radius: 1px;
	border: none;
	background: repeating-linear-gradient(
	  45deg,
	  #2E3865,
	  #2E3865 5px,
	  #1C223D 5px,
	  #1C223D 10px
	);
	background-color:#2E3865;
	height: 100%;
}


#job-info .button {margin:0;}
#job-info .control {padding:0;}
#job-info .button.warning { background-color:#dd8728;}
#job-info .button.alert { background-color:#9c210c;}
#job-info .alert-box {
	border: none;
	color: #fff;
	background: #aaa;
	font-family: 'Droid_Sans_Mono';
	font-size: 16px;
	font-size: 1rem;
}
#job-info .file-info > label {
	background-color: #eee;
	color: #666;
	border-top: 0px;
	text-align: center;
}
#job-info .file-info > label > span {
	font-size: 1.375em;
	font-weight: normal;
}
#job-info .file-info {
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	padding-left: 0 !important;
	padding-right: 0 !important;
}


/* ********** Icon apps grid ********** */

#app-client-container {
	width: 100%;
	height: 100%;
    -webkit-transition: padding 0.5s; /* Safari */
    transition: padding 0.5s;
    visibility: hidden;
    overflow: hidden;
}

#app-menu-container {
	visibility: invisible;
}
#waiting_container {
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
	display: none;
}

#waiting_container svg {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	color: #2E3865
}

#spinner-container {
	width: 100%;
	height: 100%;
}


.app-icon {
	width: 100px;
	width: 6.25rem;
	height: 128px;
	height: 8rem;
	text-align: center;
	margin: 16px;
	margin: 1rem;
	margin-bottom: 0;
	display: inline-block;
}

.app-icon .add {
	width: 100px;
	width: 6.25rem;
	height: 100px;
	height: 6.25rem;
	line-height: 76px;
	padding: 12px;
	padding: 0.75rem;
	border-radius: 8px;
	border-radius: 0.5rem;
	border: dashed 3px #bbb;
	color: #bbb;
	font-size: 35px;
}

.app-icon:hover .add {
	border: dashed 3px #666;
	color: #666;
}

.app-icon:hover .add-title {
	color: #666;
}

.add-title {
	margin-top: 4px;
	margin-top: 0.25rem;
	font-family: 'source_sans_proregular';
	color: #bbb;
	font-style: italic;
}


.app-icon[display=none] { display: none; }

.app-title {
	margin-top: 4px;
	margin-top: 0.25rem;
}

.app-title a {
	font-family: 'source_sans_proregular';
	color: #444;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.app-icon:hover .app-title a {
	color: #333;
	-webkit-transition: opacity .6s;
	transition: opacity .6s;
}

.app-icon img {
	width: 100px;
	width: 6.25rem;
	height: 100px;
	height: 6.25rem;
	padding: 12px;
	padding: 0.75rem;
	border-radius: 8px;
	border-radius: 0.5rem;
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 0.0626rem 0.375rem rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0.0626rem 0.375rem rgba(0,0,0,0.25);
	box-shadow: 0 0.0626rem 0.375rem rgba(0,0,0,0.25);
}

.app-icon:hover img {
	-moz-box-shadow: 0 1px 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.5);
	box-shadow: 0 1px 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0.0626rem 0.5rem rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0.0626rem 0.5rem rgba(0,0,0,0.5);
	box-shadow: 0 0.0626rem 0.5rem rgba(0,0,0,0.5);
	filter: alpha(opacity=100); /* For IE8 and earlier */
	opacity: 1;
	-webkit-transition: opacity .6s;
	transition: opacity .6s;
}

.app-icon.sortable-ghost, .sortable-ghost {
	border: 3px dashed #CCC;
	background : url('../img/icon_plus_cross.png') no-repeat center;
	background-size: 48px;
	background-size: 3rem;
}

.app-icon.sortable-ghost > *, .sortable-ghost > * {visibility: hidden;}

/* ********** iFrame main container ********** */
.app-iframe {
	width: 100%;
	height: 100%;
	border:0px;
}

#app_menu_container {
	list-style: none;
	height :100%;
	/*margin-left: auto;
	margin-right: auto;*/
	/* auto margins center the apps, but make them jump when the DRO is displayed (ick) */
}

/* ********** footer stuff********** */
.footBar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 0px;
	background-color: #333333;
	z-index: 1006;
	display: block;
	transition: all 0.3s;
	box-shadow: 0px -2px 15px -6px rgba(0,0,0,0.75);
}

.pauseJob div {
	color: #ffffff;
	font-size: 35px;
	font-family: Arial;
	z-index: 10;

}

.pauseJob-wrapper {
	display: block;
	align-items: center;
	justify-content: center;
    cursor: pointer;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 36%;
	height: 150px;
	margin-top: 12px;
	background: #ff0000;
	border: solid 5px #A60000;
	border-radius: 5px;
	text-decoration: none;
	transition: border background-color 2s linear;
	-webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
          user-select: none;
}

.pauseJob {
    display: flex;
    cursor: pointer;
	align-items: center;
	justify-content: center;
	transition: all 1s;
	width: 100%;
   	height: 100%;
}


.fabmo-resume-stop {
    margin-top: 12px;
	position: relative;
    width: 36%;
	height: 150px;
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
	-webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
          user-select: none;
}






.pauseJob.blink{
	border: 5px solid #ff0000;
	background-color: #A60000;
	transition: border background-color 2s linear;
}

.fabmo-resume-stop .but {
    display: flex;
    cursor: pointer;
	align-items: center;
	justify-content: center;
	font-family: Arial;
	color: #ffffff;
	font-size: 25px;
	line-height: 3.3em;
	text-decoration: none;
	transition: all 1s;
	width: 100%;
   	height: 50%;
}


.stopJob {
   background: #ff0000;
   border: solid #ff0000 1px;
   border-radius: 0 0 5px 5px;
}
.resumeJob {
    background: #32B433;
	border: solid #00A600 1px;
    border-radius: 5px 5px 0 0;
}

.currentContainer {
	margin-top: 65px;
	margin-left: 2em;
	float: left;
	overflow: hidden;
    max-width: 200px;
	max-height: 100px;
}

.currentJobTitle {
	color: #F0F0F0;
	font-size: 20px;
	font-family: 'source_sans_proextralight';
    white-space: nowrap;
	text-align: center;

}

@media only screen and (max-width: 700px){
	.pauseJob div {
		font-size: 2em;
	}

	.pauseJob-wrapper{
		margin-top: 40px;
		height: 100px;
	}

	.fabmo-resume-stop div {
        font-size: 14px;

    }
    .fabmo-resume-stop {
        margin-top: 40px;
		height: 100px;
    }
	.currentContainer {
		max-width: 100px;
		margin-left: 1em;
	}

	.currentJobTitle {
		 font-size: 15px;
	}
}

@media only screen and (max-width: 400px){
	.pauseJob div {
		font-size: 2em;
	}

	.pauseJob-wrapper{
		margin-top: 40px;
		height: 100px;
	}

	.fabmo-resume-stop div {
        font-size: 14px;

    }
    .fabmo-resume-stop {
        margin-top: 40px;
		height: 100px;
    }
	.currentContainer {
		display: none;
	}

	.currentJobTitle {
		 font-size: 15px;
	}
}



.radial_progress {
	margin-top: 55px;
	background-color: #444444;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	float: right;
	margin-right: 1em;
}

.fill {
    background-color: #5DA423;
    height: 50px;
    width: 50px;
    transition: -webkit-transform 1s;
    transition: -ms-transform 1s;
    transition: transform 1s;
    position: absolute;
    clip: rect(0px, 25px, 50px, 0px);
    -webkit-backface-visibility: hidden;
    border-radius: 50%;
}

.perecent_circle .mask {
      clip: rect(0px,50px,50px,25px);
      height: 50px;
      width: 50px;
      position: absolute;
      transition: -webkit-transform 1s;
        transition: -ms-transform 1s;
            transition: transform 1s;
}
.mask .fill {
    clip: rect(0px, 25px, 50px, 0px);
}
.inset {
    background-color: #333333;
    width: 42px;
    height: 42px;
    position: absolute;
    margin-left: 4px;
    margin-top: 4px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
.shadow {
      width: 50px;
      height: 50px;
      position: absolute;
      border-radius: 50%;
      box-shadow: inset 3px 3px 5px rgba(0,0,0,0.2);
}

.inset .percentage {
     color: #5DA423;
     font-size: 15px;
     width: 40px;
     position: absolute;
     line-height: 1;
     text-align: center;
     top: 14px;
     left: 2px;
	 font-family: 'source_sans_proextralight';
}

.load_container {
	margin-top: 65px;
    width: 200px;
	float: right;
	margin-right: 15px;

}
.load_container .loading_bar {
    float: left;
    background-color: #444444;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
        0px 0.3px 0px 0px rgba(200, 200, 200, 0.5);

}
.loading_bar .horizontal_fill {
    background-color: #5DA423;
    position: relative;
    height: 28.5px;
    width: 100%;
    top: 1px;
    left: 1px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
        0px 0.1px 0px 0px rgba(200, 200, 200, 0.5);
	transition: all 1s;
}
.percent_comp {
	float: right;
	margin: 3px;
	font-size: 17px;
	color: #F0F0F0;
	font-family: 'source_sans_proextralight';
}

.elapsed_time{
	font-family: 'source_sans_proextralight';
    display: inline-flex;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color:#F0F0F0
}

.elapsed_time_small{
	font-family: 'source_sans_proextralight';
    display: block;
    width: 55px;
    text-align: center;
    color:#F0F0F0;
	font-size: 14px;
    margin-top: 50px;
}
.elapsed_time_label{
	margin-right: 5px;
}

.elapsed_time_small p{
	font-size: 12px;
	margin: 0;
	display: inline;
}



/* ********** Page (#modal_container) container ********** */
#modal_container {
	padding: 10px 20px;
	padding: 0.625rem 1.25rem;
}

#modal_container h2 {
	color: #555;
	text-transform: capitalize;
}

#modal_container .page_container { background-color: #fff;}

/* ********** Scrollbars ********** */
@media only screen and (max-width: 64.063em) {
	::-webkit-scrollbar {
		display: none;
	}
}

#left-menu ::-webkit-scrollbar {
	display: none !important;
}

.fabmo-status-idle { color: blue; }
.fabmo-status-disconnected { color: gray; }


.manual-drive-exit {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 30px;
    color: #eee;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.manual-drive-message {
	display: none;
	color: #eee;
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 10px;
	padding: 0.5rem;
	border-bottom: 1px solid #eee;
}
.keypad-button {
	border : 2px solid #333333;
	border-radius: 10px;
	background : #444444;
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.keyboard-button-active {
	background: #5DAA35;
}

.keyboard-button-inactive {
	background : #444444;
}

.drive-button {
	color: white;
	font-weight: bolder;
	font-size: 24px;
	text-align: center;
}

.drive-button.square {
	position: relative;
	width: 100%;
	height: 100%;
}

.drive-button.bar {
	text-align: center;
	padding: 4px;
	color: white;
	font-weight: bolder;
	width  : 100%;
    height: 100%;
    position: relative;

}






.enter-button {
	color: white;
	line-height: 45px;
	border-radius: 32px;
	font-weight: bolder;
	font-size: 24px;
	text-align: center;
	width  : 100px;
	height : 50px;
	margin-left: auto;
	margin-right: auto;
}

.settings-button {
	color: white;
	line-height: 48px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	width  : 100%;
	height : 48px;
}
.drive-button-inactive {
	background-color: #444444;
	color: white;
}

.drive-button-fixed {
	background-color: #ce6402;
}

.drive-button-active {
	background-color: #5DAA35;
}

.drive-button-active-transient {
	background-color: #D48B3A;
}

.pad-container{
	display: flex;
	justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.keypad-table {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 180px;
    width: 180px;
}

.z-pad {
	width: 55px;
}


.keypad-cell {
	margin: 0;
    padding: 0;
    height: 33%;
    width: 33%;

}



.button-border{
    position: relative;
    width: 36px;
    height: 30px;
    right: 39px;
    border-right: 2px solid #333333;
}
.keypad-bar {
	width: 100%;
	height: 50%
}

.rot_button{
	font-size : 40px;
	 line-height : 65px;
}
 

.top.button-border{
    background-color: #333333;
    position: absolute;
    top: 56px;
    border-top: 2px solid #333333;

}

.bottom.button-border{
    background-color: #333333;
    position: absolute;
    top: 93px;
    border-bottom: 2px solid #333333;

}

.slidecontainer {
	margin-bottom: 10px;
}

.slidecontainer label {
	color:#BCBCBC;
}


.speed_read_out {
	position: absolute;
	color: #DB8635;
	display: none;
	z-index: 10000;
}
/* range input  */

input[type='range'] {
  border: solid 1em transparent;
  padding: 0;
  height: 2em;
  border-radius: 0.25em;
  background: transparent;
  color: #262626;
  font-size: 1em;
  cursor: pointer;
}
input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  padding: 0.75em;
  width: 100%;
  height: 2em;
  border-radius: 1.25em;
  box-shadow: inset 0 1px 0.125em #272727, inset 0 -1px 0.125em #272727, inset 0 0 0 0.75em #333;
  background: linear-gradient(#1c1c1c, #333) content-box;
}
.js input[type='range']::-webkit-slider-runnable-track {
  background: linear-gradient(#e38928, #DB8635) no-repeat content-box, linear-gradient(#1c1c1c, #333) content-box;
  background-size: 100% 100%;
}
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  padding: 0.75em;
  width: 100%;
  height: 2em;
  border-radius: 1.25em;
  box-shadow: inset 0 1px 0.125em #272727, inset 0 -1px 0.125em #272727, inset 0 0 0 0.75em #333;
  background: linear-gradient(#1c1c1c, #333) content-box;
}
input[type='range']::-ms-track {
  border: none;
  box-sizing: border-box;
  padding: 0.75em;
  width: 100%;
  height: 2em;
  border-radius: 1.25em;
  box-shadow: inset 0 1px 0.125em #272727, inset 0 -1px 0.125em #272727, inset 0 0 0 0.75em #333;
  background: linear-gradient(#1c1c1c, #333) content-box;
  color: transparent;
}
input[type='range']::-moz-range-progress {
  padding: 0.75em 1px 0.75em 0.75em;
  height: 1em;
  border-radius: 1.25em 0 0 1.25em;
  background: linear-gradient(#e38928, #DB8635) no-repeat content-box;
}
input[type='range']::-ms-fill-lower {
  border-radius: 1.25em 0 0 1.25em;
  background: linear-gradient(#e38928, #DB8635) no-repeat content-box;
}
input[type='range']::-webkit-slider-thumb {
  margin-top: -0.75em;
  box-sizing: border-box;
  border: none;
  padding: 0.75em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  box-shadow: 0 1px 0.125em #232323, inset 0 1px 1px #444444;
  background: radial-gradient(#db7e0d 35%, #cb8037 71%) content-box, linear-gradient(#333333, #272727) border-box;
  cursor: ew-resize;
}
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  border: none;
  padding: 0.75em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  box-shadow: 0 1px 0.125em #232323, inset 0 1px 1px #444444;
  background: radial-gradient(#db7e0d 35%, #DB8635 71%) content-box, linear-gradient(#333333, #272727) border-box;
  cursor: ew-resize;
}
input[type='range']::-ms-thumb {
  box-sizing: border-box;
  border: none;
  padding: 0.75em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  box-shadow: 0 1px 0.125em #232323, inset 0 1px 1px #444444;
  background: radial-gradient(#db7e0d 35%, #DB8635 71%) content-box, linear-gradient(#333333, #272727) border-box;
  cursor: ew-resize;
}
[class*='webkit'] input[type='range'] {
  border-top-width: 3.75em;
  border-left-width: 5em;
}
[class*='webkit'] input[type='range']::-webkit-slider-runnable-track, [class*='webkit'] input[type='range'] /deep/ #track, [class*='webkit'] input[type='range']::-webkit-slider-thumb, [class*='webkit'] input[type='range'] /deep/ #thumb {
  position: relative;
}
[class*='webkit'] input[type='range']::-webkit-slider-runnable-track:before, [class*='webkit'] input[type='range'] /deep/ #track:before, [class*='webkit'] input[type='range']::-webkit-slider-thumb:before, [class*='webkit'] input[type='range'] /deep/ #thumb:before, [class*='webkit'] input[type='range']::-webkit-slider-runnable-track:after, [class*='webkit'] input[type='range'] /deep/ #track:after, [class*='webkit'] input[type='range']::-webkit-slider-thumb:after, [class*='webkit'] input[type='range'] /deep/ #thumb:after {
  position: absolute;
}
[class*='webkit'] input[type='range']::-webkit-slider-runnable-track:before, [class*='webkit'] input[type='range'] /deep/ #track:before, [class*='webkit'] input[type='range']::-webkit-slider-runnable-track:after, [class*='webkit'] input[type='range'] /deep/ #track:after {
  top: 50%;
  right: 100%;
}
[class*='webkit'] input[type='range']::-webkit-slider-runnable-track:before, [class*='webkit'] input[type='range'] /deep/ #track:before {
  box-sizing: border-box;
  border: solid 0;
  border-width: 0.46875em 0.46875em 0 0;
  padding: 0.46875em 0.46875em 0 0;
  width: 1.875em;
  height: 1.875em;
  border-radius: 0 100% 0 0;
  transform: translate(-25%, -50%) rotate(45deg);
  background: radial-gradient(at 0 100%, transparent 0.70313em, #262626 0.70313em) content-box;
  content: '';
}
[class*='webkit'] input[type='range']::-webkit-slider-runnable-track:after, [class*='webkit'] input[type='range'] /deep/ #track:after {
  height: 0.76923em;
  transform: translate(-150%, -50%);
  font: 3.25em / 0.61538em DejaVu Sans, Symbola, Everson Mono, Dingbats, Segoe UI Symbol, Quivira, SunExt-A, FreeSerif, Universalia, unifont;
  content: '\1f508';
}
[class*='webkit'] input[type='range']::-webkit-slider-thumb:before, [class*='webkit'] input[type='range'] /deep/ #thumb:before, [class*='webkit'] input[type='range']::-webkit-slider-thumb:after, [class*='webkit'] input[type='range'] /deep/ #thumb:after {
  left: 50%;
}
[class*='webkit'] input[type='range']::-webkit-slider-thumb:before, [class*='webkit'] input[type='range'] /deep/ #thumb:before {
  width: 1em;
  height: 1em;
  transform: translate(-50%, -2.625em) rotate(62deg) skewX(34deg) scaleY(cos(34deg));
  background: linear-gradient(135deg, transparent 50%, #292929 50%, #1b1b1b);
  content: '';
}
[class*='webkit'] input[type='range']::-webkit-slider-thumb:after, [class*='webkit'] input[type='range'] /deep/ #thumb:after {
  padding: 0 0.5em;
  border-radius: 0.375em;
  transform: translate(-50%, -4em);
  background: linear-gradient(#454545, #292929);
  color: white;
  font: 700 1em / 2 arial, sans-serif;
  text-align: center;
  content: '4:00';
}
input[type='range']:focus {
  outline: none;
}

.fixed-input-container{
	display: flex;
	justify-content: space-evenly;
	display: none;
	padding-top: 20px;
	margin-bottom: 10px;
	text-align: left;
	min-height: 60px;
}

.fixed-input-container label {
	color: #BCBCBC;
    display: inline-block;
    width: auto;
	text-align: left;
	margin-right: 5px;
}

.fixed-step-value{
	-webkit-appearance: none; 
	margin: 0; 
	display: inline-block;
	font-family: 'Droid_Sans_Mono';
	width: 50px;
	text-align: center;
	height: auto;
    font-size: 12px;
	padding: 5px;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px  1px rgba(255,255,255,0.2);
	
}

#manual-move-speed {
	width: 100%;
}


/* The switch - the box around the slider */
.switch-container {
	text-align: left;
}

.fixed-label{
    position: relative;
    color: #eee;
    top: -5px;
}

.fixed-switch {
	margin-top: 5px;
	position: relative;
    display: inline-block;
    width: 49px;
    height: 22px;

  }
  
  /* Hide default HTML checkbox */
  .fixed-switch input {display:none;}
  
  /* The slider */
  .slider-toggle {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider-toggle:before {
	position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider-toggle{
	background-color: #63A749;
  }
  
  input:focus + .slider-toggle{
	box-shadow: 0 0 1px #63A749;
  }
  
  input:checked + .slider-toggle:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider-toggle.round {
	border-radius: 34px;
  }
  
  .slider-toggle.round:before {
	border-radius: 50%;
  }



.fa-keypad {
	line-height: inherit;
	text-shadow: 1px 1px 4px black;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.keypad-cell:first-child .fa-keypad{
	transform: translate(-50%, -50%) rotate(-45deg);
}

.keypad-cell:nth-child(3) .fa-keypad{
	transform: translate(-50%, -50%) rotate(45deg);
}

.keypad-cell:nth-child(7) .fa-keypad{
	transform: translate(-50%, -50%) rotate(-135deg);
}

.keypad-cell:nth-child(9) .fa-keypad{
	transform: translate(-50%, -50%) rotate(135deg);
}

.manual-right-side-container {
	width: 50%;
	height: 289px;
}

.go-to-container, #keypad{
	flex-direction: column;
	justify-content: space-evenly;
	width: 90%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.go-to-container {
	display: none;
}

#keypad{
	display: flex;
}

.go-to-container div {
	cursor: pointer;
	position: relative;
	width: 100%;
	border-radius: 5px;
	color: #eee;


}

.go-to {
	background-color: #61A844;
	height: 50%;
}

.set-coordinates {
	height: 25%;
	background-color: #D8843E;
}

.go-to-container span {
	position: absolute;
    text-align: center;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.read-out-container {
	display: flex;
    flex-direction: column;
	width: 50%;
	justify-content: space-evenly;
}

.axis {
	display: inline-block;
	font-size: 0;
	position: relative;
	text-align: center;
}

.read-out-container label {
	display: inline-block;
	font-size: 1.65rem;
    background-color: #333;
    border: none;
	color: #eee;
	margin-right: 10px;
}

.read-out-container .units, .read-out-container .rotunits {
		font-size: 12px;
		text-transform: lowercase;
		vertical-align: baseline;
		margin-left: -25px;
		position: absolute;
		color: #fff;
		width: 10px;
}

.read-out-container input {
    margin: 0;
    font-family: 'Droid_Sans_Mono';
    width: 60%;
    text-align: center;
    height: auto;
    display: inline-block;
    font-size: 23px;
    padding: 5px;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px 0 0 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}
.zero-button{
	color: #eee;
    display: inline-block;
    font-size: 23px;
    margin: 0;
    width: 50px;
    padding: 3px 5px 3px;
    background-color: #DB8635;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 0px #ce6402, 0px 2px 4px rgba(0,0,0,.7);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    font-family: 'source_sans_proextralight';
	transition: all .1s ease;
	vertical-align:top;
}

.zero-button:active {
	margin-top: 1px;
	box-shadow: 0px 1px 0px #ce6402, 0px 1px 1px rgba(0,0,0,.9);
	color: #eee;
}





.read-out-container input:focus {
	background: rgba(0,0,0,0.3);
	border: 0.5px solid rgba(95,169,61,0.8);
	box-shadow: inset 0 -1px 10px rgba(95,169,61,0.3), 0 1px  1px rgba(95,169,61,0.2);
    /* box-shadow: inset 0 0px 1px #5FA93D, 0 0px 1px #5FA93D; */
}

#modalDialogButtons {
	width: 100%;
	text-align: right;
	color: white;
	line-height: 64px;
	font-weight: bolder;
	font-size: 24px;
	text-align: center;
}





@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.maingear {
	transform-origin: 50% 50%;
	animation: spin 4s linear infinite;
}

/* Edge specific */
@supports (-ms-ime-align:auto) {
    #waiting_container > svg {
      top: 40%;
      transform-origin: 50% 50%;
    	animation: spin 4s linear infinite;
    }
}

 /*Old chipfly animation*/
/*@keyframes chipflyone {
  0% {
    transform: translate(0px, -10px);
    opacity: 1;
  }
  25% {
    transform: translate(-20px, -20px);
    opacity: 1;
  }
  50% {
    transform: translate(-50px, -30px);
    opacity: .5;
  }
  75% {
    transform: translate(-50px, -30px);
    opacity: 0;
  }
  100% {
    transform: translate(-50px, -30px);
    opacity: 0;
  }
}

@keyframes chipflytwo {
  0% {
    transform: translate(0px, -10px);
    opacity: 1;
  }
  25% {
    transform: translate(25px, -30px);
    opacity: 1;
  }
  50% {
    transform: translate(50px, -50px);
    opacity: .5;
  }
  75% {
    transform: translate(50px, -50px);
    opacity: 0;
  }
  100% {
    transform: translate(50px, -50px);
    opacity: 0;
  }
}

@keyframes chipflythree {
  0% {
    transform: translate(0px, -10px);
    opacity: 1;
  }
  25% {
    transform: translate(-25px, -20px);
    opacity: 1;
  }
  50% {
    transform: translate(-55px, -20px);
    opacity: .5;
  }
  75% {
    transform: translate(-55px, -20px);
    opacity: 0;
  }
  100% {
    transform: translate(-55px, -20px);
    opacity: 0;
  }
}

.chip.one {
    animation: chipflyone .5s ease infinite;
}

.chip.two {
    animation: chipflytwo .5s .2s ease infinite;
}

.chip.three {
    animation: chipflythree .5s .4s ease infinite;
}*/




.manual-drive-modal {
	user-select: none;
	display: none;
    width: 50%;
	height: 50%;
	min-height: 400px;
	max-height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem 2rem 2rem;
    z-index: 3001;
    background-color: #333333;
    border-radius: 5px;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

.manual-drive-container {
	display: flex;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 90%;
}



@media screen and (max-width: 1160px) {
	.manual-drive-modal {
		width: 80%; 
	}
}

@media screen and (max-width: 650px) {
	.manual-drive-modal {
		width: 100%; 
		height: 100%;
		max-height: none;
		padding-top: 0;
	}

	.manual-drive-container {
		flex-direction: column;
		justify-content: center;
		top: 7%;
		transform: translate(-50%, 0%);
	}

	.read-out-container, .manual-right-side-container{
		width: 100%;
		min-height: 220px;
	}

	.go-to-container {
		flex-direction: row;
	}

	.go-to-container div {
		height: 20%;
		width: 0;
	}

	.go-to {
		flex-grow: 2;
	}

	.set-coordinates {
		flex-grow: 1;
	}

	.manual-drive-message {
		font-size: 15px;
		line-height: 16px;
		padding-top: 0;
	}

	.speed_read_out {
		padding-top: 35px;
		padding-left: 10px;
	}

	/* .read-out-container {
		width: 70%;
		display: block;
		position: relative;
		top: 0%;
		transform: translateY(0%);
		margin-left: auto;
		margin-right: auto;
	}

	#keypad, .go-to-container {
		position: relative;
		transform: translateY(0%);
		width: 250px;
		height: 200px;
		margin-top: 1.2rem;
		margin-left: auto;
		margin-right: auto;
		top: 0;
		text-align: center;
	}

	.go-to-container {
		margin-top: 0d;
		position: absolute;
		top: 170px;
	}

	.read-out-container input, .zero-button{
		font-size: 20px;
	}

	.zero-button{
		right: -29px;
	}

	.go-to-container div {
		display: inline-block !important;
		margin: 0px  !important;
		width: auto;
	}

	.go-to{
		width: 60% !important;
	}
	

	.set-coordinates {
		width: 25% !important;
		height: 50%;
	} */
}


.newModal{
    display: none;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3001;
    background-color: #eee;
    padding-top: 1.5em;
    border-radius: 5px;
      -webkit-font-smoothing: antialiased;
}

.modalDim{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.45);
    z-index: 3000;
}

.modalLogo{
    position: relative;
    height: 30px;
    padding-bottom: 30px;
}

.modalLogo svg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modalTitle{
    text-align: center;
     color: #333333;
    padding: 0;
    margin: 0;

}
.modalSubContent{
    display: inline-block;
    width: 100%;


}
.modalImage{
    position: relative;
    display: inline-block;
    width: 25%;
    padding-top:25%;
    vertical-align: top;
}

.modalImage img{
    direction: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.modalDialogue{
    text-align: center;
    font-size: 20px;
     color: #333333;
    display: inline-block;
    margin-right: 1em;
    width: 65%;

    padding: 0;
}

@media screen and (max-width: 750px) {
    .newModal{
        width: 90%;
    }
}

.modalButtons {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.modalOkay{
	color: #fff;
    padding-top: .5em;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 30%;
    text-align: center;
    background-color: #5DAA35;
    border-radius: 5px;
    margin-bottom: 1em;
}

.modalCancel{
	color: #fff;
    padding-top: .5em;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 30%;
    text-align: center;
    background-color: #9C210C;
    border-radius: 5px;
    margin-bottom: 1em;
}


#beacon_consent_container {
    display: none;
    width: 40%;
	max-width: 500px;
	min-width: 330px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3001;
    background-color: #fcfcfc;
      -webkit-font-smoothing: antialiased;
}

#beacon_consent_inner{
	margin: 1.5em 1.5em 0 1.5em;
	padding: 1em;
	background-color: #fff;
	line-height: 1.2em;
	font-size: 1.2em;
	font-family: source_sans_proextralight;
}

#beacon_sub_container{
	padding: 1em;
	width: 100%;
}

#beacon_checkbox_label, #beacon_checkbox, #beacon_consent_button{
	display: inline-block;
}


#beacon_consent_button {
	background-color: #5DAA35;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	float: right;
	padding: 0.5em 0.6em 0.5em 0.6em;
	margin-right: 0.5em;
	transform: translateY(-8px)
}

#beacon_checkbox {
	transform: translateY(1px);
	margin-left: 5px;
}


.toast {
    opacity:0.9 !important;
}


.loader {
	position: absolute;
  	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
	will-change: transform;
}


.loader svg {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

/* Special Custom Style : rotations et animations */


.spinner {


	text-indent: -9999em;
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	background: #fff;
	background: -moz-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #fff 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;

  }
  .spinner:before {
	width: 50%;
	height: 50%;
	background: #fff;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
  }
  .spinner.red:after {
	background: #ff0000;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  }

  .spinner.green:after {
	background: #32B433;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  }

  @-webkit-keyframes load3 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @keyframes load3 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }


.logout_link_container{
  bottom: 0;
  position: inherit;
  width: inherit;
  text-align: center;
  background-color: #666666;
}
.logout_link_container a{
  color: #eeeeee;
}

.blur {
-webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px);
-ms-filter: blur(2px);
filter: blur(2px);
}

.tour-filter{
	position: absolute;
    width: 100%;
    height: 0;
    z-index: 1;
}
