@import "fonts.css";

/* ********** Global Settings ********** */

body,html{
    height: 100%;
    width: 100%;
    background-color: #eee;
    color: black;
    font-family: 'source_sans_proregular';
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.doselect {
 -moz-user-select: text;
 -khtml-user-select: text;
 -webkit-user-select: text;
 -ms-user-select: text;
 user-select: text;
 cursor: text;
}

.on {
	color: #ffffff;
}

.off {
	color: #000000;
}

.exit-off-canvas {
	position: fixed !important;
}

.disabled {
	color: #9c210c;
}

.main-section, .app-section, .spinner-section { 
	height: auto;
}

.off-canvas-wrap, .inner-wrap {
	height: auto;
	margin-bottom:0px;
	padding-top: 1.4em;
}

.page{ height: 100%; }


/* ********** Top Bar Settings ********** */

.tab-bar { 
	background: #313366;
	z-index: 1000;
	position: fixed;
	width: 100%;
	top: 0;
}

@media only screen and (min-width: 40.063em) {
	.tab-bar {z-index: 1005;}
}

.tab-bar a { color : #fff;}
.tab-bar .middle {
	margin-right: auto;
	width: 192px;
	width: 12rem;
	margin-left: auto;
	text-align: center;
}
.tab-bar .right-small, .left-small { border-color: #efefef;}
.left-small {position: inherit;}

.top-bar h1  {
	width: 16px;
	size: 1rem;
}

#tools-container {
	margin-left: 16px;
	margin-left: 1rem;
	height: 100%;
	width: 160px;
	width: 10rem;
	max-width: 192px;
	max-width: 12rem;
	overflow: hidden;
	#fff-space: nowrap;
	text-overflow: ellipsis;
}

#tools-container button {
	padding: 0px;
	margin-right: 20px;
	margin-right: 1,25rem;
	margin-bottom: 0px;
	height: 100%;
	max-width: inherit;
}

#tools-container *:focus {
	outline: none !important;
}

#tools-container .dropdown.button:after, #tools-container button.dropdown:after {
	border-width: 0;
	right: 13px;
	right: 0.8125rem;
	margin-top: -2px;
	margin-top: -0.125rem;
}

#tools-container .tools-current > li {
	list-style: none;
}

#tools-container .tools-current > li a {
	padding: 13px 16px 13px 32px;
	padding: 13px 1rem 13px 2rem;
	font-size: 16px;
	font-size: 1rem;
}

 #tools-container .tools-current > li a, #tools-container .tools-other > li a {
	background-image: url('../img/icon_status_green.png');
	background-repeat: no-repeat;
	background-size: 10px;
	background-size: 0.625rem;
	background-position: center left 14px;
	background-position: center left 0.875rem;
	text-align: left;
}

#tools-container .tools-current > li a.err 		{ background-image: url('../img/icon_status_red.png'); 	}
#tools-container .tools-current > li a.disc 	{ background-image: url('../img/icon_status_grey.png');	}
#tools-container .tools-current > li a.paus 	{ background-image: url('../img/icon_status_yellow.png'); }

#tools-container .tools-other > li { border-bottom: 1px solid #eee; }

#tools-container .tools-other > li a, #tools-container .tools-refresh > li a {
	padding: 11px 16px 11px 32px;
	padding: 11px 1rem 11px 2rem;
	font-size: 15px;
	font-size: 0.9375rem;
}

#tools-container .tools-refresh > li a {
	height: 38px;
	height: 2.375rem;
	background: url('../img/icon_refresh.png') center no-repeat;
	background-size: 20px;
	background-size: 1.25rem;
}

#right-position-container {
	height: 100%;
	width: 15rem;
	position: absolute;
	color: #eee;
	right: 2rem;
	top: 0;
	vertical-align: middle;
}


#right-position-container span, #right-position-container label {
	color: #fff;
	font-size: 15px;
	font-size: 0.9375rem;
}




/* ********** Menu Style ********** */

.right-off-canvas-menu, .left-off-canvas-menu { 

	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	color: #fff;
	top: 45px;
	top: 2.8125rem;
	bottom: 0px;
	height: auto;
	position: fixed;
}

.left-off-canvas-menu {
	background-color: #444;
	width: 182px;
	width: 11.375rem;
}

.right-off-canvas-menu {
	background-color: #9C210C;
	width: 222px;
	width: 13.875rem;
}


/* Change #left-menu & #right-menu config */
@media only screen and (min-width: 64.063em) {
	.right-off-canvas-menu	{ float: right; }
}

@media only screen and (min-width: 40.063em) {
	.left-off-canvas-menu	{ float: left; }
	#close_menu.exit-off-canvas	{ display: none !important; }
}

@media only screen and (max-width: 40.063em) {
	.left-off-canvas-menu {
		width: 220px;
		width: 13.75rem;
	}
}

.left-menu.icon-bar > * { 
	padding: 6px 12px;
	padding: 0.375rem 0.75rem;
}

#left-menu.colapsed {
	width: 46px;
	width: 2.875rem;
}

ul.off-canvas-list li:not(.tool) a:hover, ul.off-canvas-list li.no-link:hover {
	background-color: #666;
	background-color: rgba(0,0,0,0.25);
	cursor: pointer;
}

ul.off-canvas-list li a, ul.off-canvas-list li.no-link {
	border-bottom : 0px solid #fff;
	color : rgb(240,240,240);
	padding: 11px;
	padding: 0.6875rem;
}

.offcanvas-overlap-left .exit-off-canvas :hover,
.offcanvas-overlap-right .exit-off-canvas :hover {
	background: rgba(0, 0, 0, 0.08);
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}

.offcanvas-overlap-left .exit-off-canvas,
.offcanvas-overlap-right .exit-off-canvas {
	background: rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 40.063em) {
	.offcanvas-overlap-left .exit-off-canvas:hover,
	.offcanvas-overlap-right .exit-off-canvas:hover {
	background: rgba(0, 0, 0, 0.08);
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}}


#util-menu-small a {
	padding-left: 44px;
	padding-left: 2.75rem;
	background-repeat: no-repeat;
	background-size: 20px;
	background-size: 1.25rem;
	background-position: center left 12px;
	background-position: center left 0.75rem;
}

.collapseLeft{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.5;
	z-index: 5;
	display: none;
}

/* 
*** Widgets Styles
*/

.widget {
	margin-bottom: 7px;
	margin-bottom: 0.4375rem;
}

.widget.colapsed span {	display: none; }
.widget.colapsed label { display: none; }

.widget.colapsed ul li a {
	height: 46px;
	height : 2.875rem;
	padding-left : 0px !important;
}

.widget ul li:first-child label {
	border-top: none;
	border-bottom : 1px solid #eee;
	padding: 5px 8px 2px;
	padding: 0.3125rem 0.5rem 0.125rem;
	background: #fff;
	background: none;
	color: #ddd;
}

.widget .hidden .toHide { display: none;}

.widget .refresh {
	background: url('../img/icon_refresh.png') center no-repeat;
	background-size: 20px;
	background-size: 1.25rem;
	height: 36px;
	height: 2.25rem;
}

.widget .refresh a {
	height: 36px;
	height: 2.25rem;
}

.widget .sortable-ghost {
	border: 2px dashed #ccc;
	background : url('../img/icon_plus_cross.png') no-repeat center;
	background-size: 32px;
	background-size: 2rem;
}

.widget .sortable-ghost > * { visibility: hidden; }

.widget .tool {
	background-image: url('../img/icon_status_green.png');
	background-repeat: no-repeat;
	background-size: 0.75rem;
	background-position: center left 1.0875rem;
	text-align: left;
}

.widget .tool.err 	{background-image: url('../img/icon_status_red.png');}
.widget .tool.disc 	{background-image: url('../img/icon_status_grey.png');}

.widget .tools-current .tool { 
	background-color: #999;
	background-color: rgba(0,0,0,0.2);
}

.widget .tools-other .tool:hover,  .widget .refresh a:hover{
	background-color: #777;
	background-color: rgba(0, 0, 0, 0.05) !important;
}

.widget .tool a {
	z-index: 1005;
	padding-left: 44px !important;
	padding-left: 2.75rem !important;
	width: 80.25%;
}

.widget .tool a:hover {
	/*
	background-color: rgba(0, 0, 0, 0);
	*/
}

.widget .tool span {
	-webkit-transition: opacity .15s;
	transition: opacity .15s;
	filter: alpha(opacity=0); /* For IE8 and earlier */
	opacity: 0;
	cursor: pointer;
	color: #c00;
	width: 19.75%;
	height: 46px;
	height: 2.875rem;
	background: url('../img/icon_details.png') center no-repeat;
	background-size: 20px;
	background-size: 1.25rem;
	float: right;
	z-index: 1010;
}

.widget .tool:hover span {
	filter: alpha(opacity=100); /* For IE8 and earlier */
	opacity: 1;
}

.widget .tool span:hover {
	background-size: 18px;
	background-size: 1.125rem;
}

.widget ul label.settings:hover {
	background-image: url('../img/icon_more.png');
	background-repeat: no-repeat;
	background-size: 30px;
	background-size: 1.875rem;
	background-position: center right 14px;
	background-position: center right 0.875rem;
}

.icon-bar { background: #fff;}

@media only screen and (min-width: 64.063em) {
	.icon-bar.large-vertical {
		margin-right: 5px;
		margin-right: 0.3125rem;
	}
}

#icon_home 			{ background-image: url('../img/icon_home.png');}
#icon_jobs 			{ background-image: url('../img/icon_jobs.png');}
#icon_global 		{ background-image: url('../img/icon_global.png');}
#icon_apps 			{ background-image: url('../img/icon_apps.png');}
#icon_social 		{ background-image: url('../img/icon_social.png');}
#icon_search 		{ background-image: url('../img/icon_search.png');}
#icon_folder 		{ background-image: url('../img/icon_folder.png');}
#icon_settings 		{ background-image: url('../img/icon_settings.png');}
#icon_status 		{ background-image: url('../img/icon_status.png');}
#icon_colapse 		{ background-image: url('../img/icon_colapse_r.png');}
#icon_edit 			{ background-image: url('../img/icon_folder.png');}
#icon_editor 		{ background-image: url('../img/icon_editor.png');}
#icon_handwheel 	{ background-image: url('../img/icon_refresh.png');}
#icon_log 			{ background-image: url('../img/icon_log.png');	}


.colapsed #icon_colapse { background-image: url('../img/icon_colapse.png');	}

/***
*** Right Menu ***
***/

#position {
	background-color: #9c210c;
	color: #eee;
	margin-bottom: 0;
	padding-bottom: 8px;
	padding-bottom: 0.5rem;
}

#position ul .axis {
	padding: 0;
	font-family: 'source_sans_proextralight';
}

#position ul li:first-child label {
	font-size: 36px;
	font-size: 1.5rem;
	font-family: 'source_sans_proextralight';
	font-weight: 300;
	text-transform: capitalize;
	text-align: center;
	border-bottom: none;
}

#position ul .axis > .columns > label {
	border: none;
	color: #eee;
	border-bottom: 1px solid #eee;
	background: none;
	font-size: 34px;
	font-size: 1.75rem;
	padding: 0;
	font-family: 'source_sans_proextralight';
	font-weight: 100;
}

#position ul .axis span {
	float: right;
}

#position ul .axis .pos {
	font-family: 'source_sans_proregular';
	margin-right: 4px;
	margin-right: 0.25rem;
	font-weight: 100;
	letter-spacing: 1px;
}

#position ul .axis input.pos {
	width: 5rem;
	text-align: center;
	float: right;
	font-size: 28px;
	font-size: 1.75rem;
	padding : 2px 4px;
	padding: 0.125rem 0.25rem;
	margin-top: 3px;
	margin-top: 0.1925rem;
}

#position ul .axis .units {
	font-size: 12px;
	font-size: 0.75rem;
	text-transform: lowercase;
	vertical-align: baseline;
}

#position ul .axis .home, #keypad ul .set {
	padding: 0;
	text-align: center;
}

#position ul .axis .home span, #keypad ul .set span {
	width: 34px;
	width: 2.125rem;
	height: 34px;
	height: 2.125rem;
	float: left;
	margin-top: 8px;
	margin-top: 0.5rem;
}

#position ul .axis .home:hover, #keypad ul .set:hover {
	cursor: pointer;
}

#position ul .axis .home span {
	background: #dd8728;
	font-family: 'source_sans_proextralight';
	font-size: 21px;
	font-size: 1.3175rem;
	font-weight: bold;
}

#position ul .axis .home span label {
	font-size: 12px;
	font-size: 0.75rem;
	background: none;
	display: inline;
	border: none;
	color: #eee;
	padding: 0;
	padding-left: 4px;
	padding-left: 0.125em;
	font-weight: 100;
	vertical-align: text-bottom;
}

#handwheel {
	background-color: #9c210c;
	color: #eee;
	margin-bottom: 0;
	padding-bottom: 8px;
	padding-bottom: 0.5rem;
}

#keypad ul .set span {
	background-color: #eee;
}

#keypad ul .set span:hover {
	background-color: #fff;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
}

#keypad ul .button-homexy, #keypad ul .button-homez, #keypad ul .button-probez {
	background-size: 30px;
	background-size: 1.825rem;
	background-position: center;
	background-repeat: no-repeat;
	width: 49px !important;
	width: 3.0625rem !important;
	height: 49px !important;
	height: 3.0625rem !important;
	margin-top: 0 !important;
}

#keypad ul .button-homexy 	{ background-image: url('../img/icon_go-home.png'); }
#keypad ul .button-homez		{ background-image: url('../img/icon_mv-xy.png'); }
#keypad ul .button-probez		{ background-image: url('../img/icon_zero-z.png'); }


#position ul .columns{
	position: relative;
}

#position ul .inOut {
	font-size: 14px;
	font-size: 0.875rem;
}

#position ul .inOut .columns {
	font-size: 13px;
	font-size: 0.8125rem;
}

#position ul .inOut:not(.hidden) .columns::after{
	border-top-color: #eee;
	right: 15px;
	right: 0.9375em;
	bottom:0;
}

#position ul .inOut:(.hidden) .columns::after{
	border-bottom-color: #eee;
	right: 15px;
	right: 0.9375em;
}

#position ul .switch {
	padding-left: 15px;
	padding-left: 0.9375em;
	padding-right: 15px;
	padding-right: 0.375em;
}

#position ul .switch .columns {
	text-align: left;
	padding: 0;
	font-size: 12px;
	font-size: 0.75rem;
	font-family: 'source_sans_probold';
}

#job-info ul li:first-child label {
	background-color: #aaa;
	text-align: center;
	color: #fff;
	font-family: 'source_sans_probold';
	font-size: 15rem;
	font-size: 0.9375rem;
	font-weight: bolder;
	text-transform: capitalize;
	border-bottom: none;
	margin: 0 auto;
}

.progress-container {
	border: 2px solid black; 
	background: gray;
	border-radius: 5px;
	height: 20px;
}

.progress { 
	border-radius: 1px;
	border: none;
	background: repeating-linear-gradient(
	  45deg,
	  #2E3865,
	  #2E3865 5px,
	  #1C223D 5px,
	  #1C223D 10px
	);
	background-color:#2E3865;
	height: 100%;
}


#job-info .button {margin:0;}
#job-info .control {padding:0;}
#job-info .button.warning { background-color:#dd8728;}
#job-info .button.alert { background-color:#9c210c;}
#job-info .alert-box {
	border: none;
	color: #fff;
	background: #aaa;
	font-family: 'source_sans_probold';
	font-size: 16px;
	font-size: 1rem;
}
#job-info .file-info > label {
	background-color: #eee;
	color: #666;
	border-top: 0px;
	text-align: center;
}
#job-info .file-info > label > span {
	font-size: 1.375em;
	font-weight: normal;
}
#job-info .file-info {
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	padding-left: 0 !important;
	padding-right: 0 !important;
}


/* ********** Icon apps grid ********** */

#app-client-container {
	width: 100%;
	height: 100%;
	display: none;
}

#spinner-container {
	width: 100%;
	height: 100%;
}


.app-icon {
	width: 100px;
	width: 6.25rem;
	height: 128px;
	height: 8rem;
	text-align: center;
	margin: 16px;
	margin: 1rem;
	margin-bottom: 0;
	display: inline-block;
}

.app-icon[display=none] { display: none; }

.app-title {
	margin-top: 4px;
	margin-top: 0.25rem;
}

.app-title a {
	font-family: 'source_sans_proregular';
	color: #444;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.app-icon:hover .app-title a {
	color: #333;
	-webkit-transition: opacity .6s;
	transition: opacity .6s;
}

.app-icon img {
	width: 100px;
	width: 6.25rem;
	height: 100px;
	height: 6.25rem;
	padding: 12px;
	padding: 0.75rem;
	border-radius: 8px;
	border-radius: 0.5rem;
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 0.0626rem 0.375rem rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0.0626rem 0.375rem rgba(0,0,0,0.25);
	box-shadow: 0 0.0626rem 0.375rem rgba(0,0,0,0.25);

	filter: alpha(opacity=92); /* For IE8 and earlier */
	opacity: 0.92;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.app-icon:hover img {
	-moz-box-shadow: 0 1px 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.5);
	box-shadow: 0 1px 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0.0626rem 0.5rem rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0.0626rem 0.5rem rgba(0,0,0,0.5);
	box-shadow: 0 0.0626rem 0.5rem rgba(0,0,0,0.5);
	filter: alpha(opacity=100); /* For IE8 and earlier */
	opacity: 1;
	-webkit-transition: opacity .6s;
	transition: opacity .6s;
}

.app-icon.sortable-ghost, .sortable-ghost {
	border: 3px dashed #CCC;
	background : url('../img/icon_plus_cross.png') no-repeat center;
	background-size: 48px;
	background-size: 3rem;
}

.app-icon.sortable-ghost > *, .sortable-ghost > * {visibility: hidden;}

/*
 * App Icon Colors
 */
.app-icon img 		{ 
	background: #A5A5A5; /* Old browsers */
	background: -moz-linear-gradient(top,  #A5A5A5 0%, #AAAAAA 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A5A5A5), color-stop(100%,#AAAAAA)); /* Chrome,Safari4+ */
	background : -webkit-linear-gradient(top, #A5A5A5 0%, #AAAAAA 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #A5A5A5 0%,#AAAAAA 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #A5A5A5 0%,#AAAAAA 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #A5A5A5 0%,#AAAAAA 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A5A5A5', endColorstr='#AAAAAA',GradientType=0 ); /* IE6-9 */
} /*Default = Grey*/

.app-icon img.black {
	background: #0F0F0F; /* Old browsers */
	background: -moz-linear-gradient(top,  #0F0F0F 0%, #222326 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0F0F0F), color-stop(100%,#222326)); /* Chrome,Safari4+ */
	background : -webkit-linear-gradient(top, #0F0F0F 0%, #222326 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0F0F0F 0%,#222326 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0F0F0F 0%,#222326 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0F0F0F 0%,#222326 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0F0F0F', endColorstr='#222326',GradientType=0 ); /* IE6-9 */
}

.app-icon img.brown {
	background: #8c481c; /* Old browsers */
	background: -moz-linear-gradient(top,  #8c481c 0%, #8e4515 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c481c), color-stop(100%,#8e4515)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8c481c 0%,#8e4515 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8c481c 0%,#8e4515 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8c481c 0%,#8e4515 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8c481c 0%,#8e4515 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c481c', endColorstr='#8e4515',GradientType=0 ); /* IE6-9 */
}

.app-icon img.light-blue {
	background: #1E5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1E5799 0%, #346399 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1E5799), color-stop(100%,#346399)); /* Chrome,Safari4+ */
	background : -webkit-linear-gradient(top, #1E5799 0%, #346399 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1E5799 0%,#346399 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1E5799 0%,#346399 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1E5799 0%,#346399 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1E5799', endColorstr='#346399',GradientType=0 ); /* IE6-9 */
}

.app-icon img.blue 	{
	background: #313366; /* Old browsers */
	background: -moz-linear-gradient(top,  #313366 0%, #414366 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313366), color-stop(100%,#414366)); /* Chrome,Safari4+ */
	background : -webkit-linear-gradient(top, #313366 0%, #414366 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #313366 0%,#414366 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #313366 0%,#414366 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #313366 0%,#414366 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313366', endColorstr='#414366',GradientType=0 ); /* IE6-9 */
}

.app-icon img.green {
	background: #00DB41; /* Old browsers */
	background: -moz-linear-gradient(top,  #00DB41 0%, #15D648 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00DB41), color-stop(100%,#15D648)); /* Chrome,Safari4+ */
	background : -webkit-linear-gradient(top, #00DB41 0%, #15D648 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00DB41 0%,#15D648 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00DB41 0%,#15D648 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00DB41 0%,#15D648 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00DB41', endColorstr='#15D648',GradientType=0 ); /* IE6-9 */
}

.app-icon img.grey 	{
	background: #A5A5A5; /* Old browsers */
	background: -moz-linear-gradient(top,  #A5A5A5 0%, #AAAAAA 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A5A5A5), color-stop(100%,#AAAAAA)); /* Chrome,Safari4+ */
	background : -webkit-linear-gradient(top, #A5A5A5 0%, #AAAAAA 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #A5A5A5 0%,#AAAAAA 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #A5A5A5 0%,#AAAAAA 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #A5A5A5 0%,#AAAAAA 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A5A5A5', endColorstr='#AAAAAA',GradientType=0 ); /* IE6-9 */
}

.app-icon img.orange {
	background: #db8729; /* Old browsers */
	background: -moz-linear-gradient(top,  #db8729 0%, #D69148 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db8729), color-stop(100%,#D69148)); /* Chrome,Safari4+ */
	background : -webkit-linear-gradient(top, #db8729 0%, #D69148 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #db8729 0%,#D69148 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #db8729 0%,#D69148 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #db8729 0%,#D69148 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db8729', endColorstr='#D69148',GradientType=0 ); /* IE6-9 */
}

.app-icon img.red {
	background: #B12024; /* Old browsers */
	background: -moz-linear-gradient(top,  #B12024 0%, #AF3335 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B12024), color-stop(100%,#AF3335)); /* Chrome,Safari4+ */
	background : -webkit-linear-gradient(top, #B12024 0%, #AF3335 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #B12024 0%,#AF3335 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #B12024 0%,#AF3335 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #B12024 0%,#AF3335 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B12024', endColorstr='#AF3335',GradientType=0 ); /* IE6-9 */
}

.app-icon img.yellow {
	background: #EDCF0B; /* Old browsers */
	background: -moz-linear-gradient(top,  #EDCF0B 0%, #EFD61A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDCF0B), color-stop(100%,#EFD61A)); /* Chrome,Safari4+ */
	background : -webkit-linear-gradient(top, #EDCF0B 0%, #EFD61A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #EDCF0B 0%,#EFD61A 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #EDCF0B 0%,#EFD61A 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #EDCF0B 0%,#EFD61A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDCF0B', endColorstr='#EFD61A',GradientType=0 ); /* IE6-9 */
}


/* ********** iFrame main container ********** */
.app-iframe {
	width: 100%;
	height: 100%;
	border:0px;
}

#app_menu_container {
	list-style: none;
	height :100%;
	/*margin-left: auto;
	margin-right: auto;*/
	/* auto margins center the apps, but make them jump when the DRO is displayed (ick) */
}


.footBar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 0px;
	background-color: #333333;
	z-index: 1006;
	display: block;
	transition: all 0.3s;
	box-shadow: 0px -2px 15px -6px rgba(0,0,0,0.75);
}

.footTab {
	position: relative;
	top: -16.2px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	background-color: #FDFDFD;
	display: block;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	border-radius: 2px;
	border: 1px solid #CCCCCC;

}

.footTab hr {
	width: 80%;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: auto;
	margin-right: auto;
}

.stopJob {
	position: relative;
	display: block;
	top: -11px;
	text-align: center;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	font-family: Arial;
	color: #ffffff;
	font-size: 17px;
	background: #ff0000;
	padding: 3.5px 50px 3.5px 50px;
	border: solid #A60000 4px;
	text-decoration: none;
	transition: all 1s;
}

.stopJob.blink{
	background-color: #A60000;
	border: solid #ff0000 4px;
	transition: all 1s;
}

ul#loadbar {
    list-style: none;
    width: 140px;
    margin: 0 auto;
    margin-top: -5.5px;
    padding-bottom: 75px;
	float: right;
	display: none;
}

ul#loadbar li {
    float: left;
    position: relative;
    width: 11px;
    height: 28px;
    margin-left: 1px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    background: #000;
}

ul#loadbar li:first-child {
    margin-left: 0;
}

.bar {
    background-color: #5DA423;
    background-image: -moz-linear-gradient(45deg, #509319 25%, #7CEA23);
    background-image: -webkit-linear-gradient(45deg, #509319 25%, #7CEA23);
    width: 10px;
    height: 26px;
    opacity: 0;
}

#layerFill1 {

}

#layerFill2 {

}

#layerFill3 {

}

#layerFill4 {

}

#layerFill5 {

}

#layerFill6 {

}

#layerFill7 {

}

#layerFill8 {

}

#layerFill9 {

}

#layerFill10 {

}

@-moz-keyframes fill {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    };
}

@-webkit-keyframes fill {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    };
}

/* ********** Page (#modal_container) container ********** */
#modal_container {
	padding: 10px 20px;
	padding: 0.625rem 1.25rem;
}

#modal_container h2 {
	color: #555;
	text-transform: capitalize;
}

#modal_container .page_container { background-color: #fff;}

/* ********** Scrollbars ********** */
@media only screen and (max-width: 64.063em) {
	::-webkit-scrollbar {
		display: none;
	}
}

#left-menu ::-webkit-scrollbar {
	display: none !important;
}

.fabmo-status-idle { color: blue; }
.fabmo-status-disconnected { color: gray; }