@import "fonts.css";

html{
    color: black;
    font-family: 'source_sans_proregular';
}

body {
    color: black;
    font-family: 'source_sans_proregular';
    height: 100%;
    width: 100%;
    background-color: #eee;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.doselect {
 -moz-user-select: text;
 -khtml-user-select: text;
 -webkit-user-select: text;
 -ms-user-select: text;
 user-select: text;
 cursor: text;
}

.main-section, .app-section, .spinner-section {
	height: 1003%;
	background-color: #eee;
}

.off-canvas-wrap, .inner-wrap {
	height: auto;
	margin-bottom:0px;
	padding-top: 1.4em;
}

/* ********** Top Bar Settings ********** */

.tab-bar {
	background: #313366;
	z-index: 1005;
	position: fixed;
	width: 100%;
	top: 0;
}

.tab-bar a { color : #fff;}
.tab-bar .middle {
	margin-right: auto;
	width: 192px;
	width: 12rem;
	margin-left: auto;
	text-align: center;
}
.tab-bar .right-small, .left-small { border-color: #efefef;}
.left-small {position: inherit;}

.top-bar h1  {
	width: 170px;
	size: 1rem;
}

#mainContent{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 40000;
	background-color: #444;
	padding: 4em;
	display: none;
}

#mainContent .main{
	background-color: #fff;
	padding: 2em;
	border-radius: 5px;
}

#mainContent .main  h1{
	color: #666;
}

@media only screen and (max-width: 500px) {
	#mainContent{
		padding: 0;
		background-color: #fcf9f9;
	}
	#mainContent .main{
		width: 100%;
		padding: 0.5em;
		border-radius: 0px;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(235,228,235,1);
-moz-box-shadow: 0px 2px 3px 0px rgba(235,228,235,1);
box-shadow: 0px 2px 3px 0px rgba(235,228,235,1);
	}

	#mainContent h1 {
		font-size: 25px;
		margin: 0;
	}

	#mainContent hr {
		margin: 0.2em;
	}

	#mainContent input {
		width: 98%;
		margin: 0.4em;
	}
}

#tools-container {
	margin-left: 16px;
	margin-left: 1rem;
	height: 100%;
	width: 160px;
	width: 10rem;
	max-width: 192px;
	max-width: 12rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#tools-container button {
	padding: 0px;
	margin-right: 20px;
	margin-right: 1,25rem;
	margin-bottom: 0px;
	height: 100%;
	max-width: inherit;
}

#tools-container *:focus {
	outline: none !important;
}

#tools-container .dropdown.button:after, #tools-container button.dropdown:after {
	border-width: 0;
	right: 13px;
	right: 0.8125rem;
	margin-top: -2px;
	margin-top: -0.125rem;
}

#tools-container .tools-current > li {
	list-style: none;
}

#tools-container .tools-current > li a {
	padding: 13px 16px 13px 32px;
	padding: 13px 1rem 13px 2rem;
	font-size: 16px;
	font-size: 1rem;
}

 #tools-container .tools-current > li a, #tools-container .tools-other > li a {
	background-image: url('../img/icon_status_green.png');
	background-repeat: no-repeat;
	background-size: 10px;
	background-size: 0.625rem;
	background-position: center left 14px;
	background-position: center left 0.875rem;
	text-align: left;
}

#tools-container .tools-current > li a.err 		{ background-image: url('../img/icon_status_red.png'); 	}
#tools-container .tools-current > li a.disc 	{ background-image: url('../img/icon_status_grey.png');	}
#tools-container .tools-current > li a.paus 	{ background-image: url('../img/icon_status_yellow.png'); }

#tools-container .tools-other > li { border-bottom: 1px solid #eee; }

#tools-container .tools-other > li a, #tools-container .tools-refresh > li a {
	padding: 11px 16px 11px 32px;
	padding: 11px 1rem 11px 2rem;
	font-size: 15px;
	font-size: 0.9375rem;
}

#tools-container .tools-refresh > li a {
	height: 38px;
	height: 2.375rem;
	background: url('../img/icon_refresh.png') center no-repeat;
	background-size: 20px;
	background-size: 1.25rem;
}

#right-position-container {
	height: 100%;
	width: 15rem;
	position: absolute;
	color: #eee;
	right: 2rem;
	top: 0;
	vertical-align: middle;
}

#tool-name-container {
	height: 100%;
	width: 15rem;
	position: absolute;
	color: #eee;
	left: 3rem;
	top: 0;
	vertical-align: middle;
}

#tool-name {
  max-width: 16em;
  overflow: hidden;
  white-space: nowrap
}

#right-position-container span, #right-position-container label {
	color: #fff;
	font-size: 15px;
	font-size: 0.9375rem;
}

#left-position-container {
	height: 100%;
}

#connection-strength-indicator {
	height: 30px;
   max-width:30px;
}

.svg-container {
	height: 100%;
}

#connection-strength-indicator .on {
	fill: #EEEEEE;
}

#connection-strength-indicator .off {
	fill: #535D8A;
}

#connection-strength-indicator .err {
	fill: #91331E;
}

/* ********** Menu Style ********** */

.right-off-canvas-menu, .left-off-canvas-menu {

	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	color: #fff;
	top: 45px;
	top: 2.8125rem;
	bottom: 0px;
	height: auto;
	position: fixed;
}

.left-off-canvas-menu {
	background-color: #444;
	width: 182px;
	width: 11.375rem;
}

.DRO {
	position: fixed;
	top: 0;
	margin-top: 45px;
	right: -222px;
	background-color: #9C210C;
	width: 222px;
    min-width: 222px;
	bottom: 0;
	z-index: 1002;
	transition: all 0.5s;
}


/* Change #left-menu & #right-menu config */


@media only screen and (min-width: 40.063em) {
	.left-off-canvas-menu	{ float: left; }
	#close_menu.exit-off-canvas	{ display: none !important; }
}

@media only screen and (max-width: 40.063em) {
	.left-off-canvas-menu {
		width: 220px;
		width: 13.75rem;
	}
}

.left-menu.icon-bar > * {
	padding: 6px 12px;
	padding: 0.375rem 0.75rem;
}

#left-menu.colapsed {
	width: 46px;
	width: 2.875rem;
}

ul.off-canvas-list li:not(.tool) a:hover, ul.off-canvas-list li.no-link:hover {
	background-color: #666;
	background-color: rgba(0,0,0,0.25);
	cursor: pointer;
}

ul.off-canvas-list li a, ul.off-canvas-list li.no-link {
	border-bottom : 0px solid #fff;
	color : rgb(240,240,240);
	padding: 11px;
	padding: 0.6875rem;
}

.offcanvas-overlap-left .exit-off-canvas :hover,
.offcanvas-overlap-right .exit-off-canvas :hover {
	background: rgba(0, 0, 0, 0.08);
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}

.offcanvas-overlap-left .exit-off-canvas,
.offcanvas-overlap-right .exit-off-canvas {
	background: rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 40.063em) {
	.offcanvas-overlap-left .exit-off-canvas:hover,
	.offcanvas-overlap-right .exit-off-canvas:hover {
	background: rgba(0, 0, 0, 0.08);
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}}


#util-menu-small a {
	padding-left: 44px;
	padding-left: 2.75rem;
	background-repeat: no-repeat;
	background-size: 20px;
	background-size: 1.25rem;
	background-position: center left 12px;
	background-position: center left 0.75rem;
}

.collapseLeft{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.5;
	z-index: 5;
	display: none;
}

/*
*** Widgets Styles
*/

.widget {
	margin-bottom: 7px;
	margin-bottom: 0.4375rem;
}

.widget.colapsed span {	display: none; }
.widget.colapsed label { display: none; }

.widget.colapsed ul li a {
	height: 46px;
	height : 2.875rem;
	padding-left : 0px !important;
}

.widget ul li:first-child label {
	border-top: none;
	border-bottom : 1px solid #eee;
	padding: 5px 8px 2px;
	padding: 0.3125rem 0.5rem 0.125rem;
	background: #fff;
	background: none;
	color: #ddd;
}

.widget .hidden .toHide { display: none;}

.widget .refresh {
	background: url('../img/icon_refresh.png') center no-repeat;
	background-size: 20px;
	background-size: 1.25rem;
	height: 36px;
	height: 2.25rem;
}

.widget .refresh a {
	height: 36px;
	height: 2.25rem;
}

.widget .sortable-ghost {
	border: 2px dashed #ccc;
	background : url('../img/icon_plus_cross.png') no-repeat center;
	background-size: 32px;
	background-size: 2rem;
}

.widget .sortable-ghost > * { visibility: hidden; }

.widget .tool {
	background-image: url('../img/icon_status_green.png');
	background-repeat: no-repeat;
	background-size: 0.75rem;
	background-position: center left 1.0875rem;
	text-align: left;
}

.widget .tool.err 	{background-image: url('../img/icon_status_red.png');}
.widget .tool.disc 	{background-image: url('../img/icon_status_grey.png');}

.widget .tools-current .tool {
	background-color: #999;
	background-color: rgba(0,0,0,0.2);
}

.widget .tools-other .tool:hover,  .widget .refresh a:hover{
	background-color: #777;
	background-color: rgba(0, 0, 0, 0.05) !important;
}

.widget .tool a {
	z-index: 1005;
	padding-left: 44px !important;
	padding-left: 2.75rem !important;
	width: 80.25%;
}

.widget .tool a:hover {
	/*
	background-color: rgba(0, 0, 0, 0);
	*/
}

.widget .tool span {
	-webkit-transition: opacity .15s;
	transition: opacity .15s;
	filter: alpha(opacity=0); /* For IE8 and earlier */
	opacity: 0;
	cursor: pointer;
	color: #c00;
	width: 19.75%;
	height: 46px;
	height: 2.875rem;
	background: url('../img/icon_details.png') center no-repeat;
	background-size: 20px;
	background-size: 1.25rem;
	float: right;
	z-index: 1010;
}

.widget .tool:hover span {
	filter: alpha(opacity=100); /* For IE8 and earlier */
	opacity: 1;
}

.widget .tool span:hover {
	background-size: 18px;
	background-size: 1.125rem;
}

.widget ul label.settings:hover {
	background-image: url('../img/icon_more.png');
	background-repeat: no-repeat;
	background-size: 30px;
	background-size: 1.875rem;
	background-position: center right 14px;
	background-position: center right 0.875rem;
}

.icon-bar { background: #fff;}

@media only screen and (min-width: 64.063em) {
	.icon-bar.large-vertical {
		margin-right: 5px;
		margin-right: 0.3125rem;
	}
}

#icon_home 			{ background-image: url('../img/icon_home.png');}
#icon_jobs 			{ background-image: url('../img/icon_jobs.png');}
#icon_global 		{ background-image: url('../img/icon_global.png');}
#icon_apps 			{ background-image: url('../img/icon_apps.png');}
#icon_social 		{ background-image: url('../img/icon_social.png');}
#icon_search 		{ background-image: url('../img/icon_search.png');}
#icon_folder 		{ background-image: url('../img/icon_folder.png');}
#icon_settings 		{ background-image: url('../img/icon_settings.png');}
#icon_colapse 		{ background-image: url('../img/icon_colapse_r.png');}
#icon_edit 			{ background-image: url('../img/icon_folder.png');}
#icon_editor 		{ background-image: url('../img/icon_editor.png');}
#icon_handwheel 	{ background-image: url('../img/icon_refresh.png');}
#icon_log 			{ background-image: url('../img/icon_log.png');	}
#icon_network 		{ background-image: url('../img/icon_network.png');	}
#icon_sign_out 		{ background-image: url('../img/icon_sign_out.png');	}


.colapsed #icon_colapse { background-image: url('../img/icon_colapse.png');	}

/****** Right Menu ******/

#position {
	background-color: #9c210c;
	color: #eee;
	margin-bottom: 0;
	padding-bottom: 8px;
	padding-bottom: 0.5rem;
	margin-top: 10px;
}

#position ul .axis {
	padding: 0;
	font-family: 'Droid_Sans_Mono';
}


#position ul .axis > .columns > label {
	border: none;
	color: #eee;
	border-bottom: 1px solid #eee;
	background: none;
	font-size: 1.65rem;
	padding: 0;
	font-family: 'Droid_Sans_Mono';
	font-weight: 100;
    text-align: left;
}

#position ul .axis span {
	float: right;
}

#position ul .axis .pos {
	font-family: 'Droid_Sans_Mono';
	margin-right: 4px;
	margin-right: 0.25rem;
	font-weight: 100;
}

#position ul .axis input.pos {
	width: 7rem;
	text-align: right;
	float: right;
    padding: 0;
    height: auto;
	font-size: 23px;
	margin-top: 3px;
	margin-top: 0.1925rem;
	background-color: #9C210C;
	border: none;
    box-shadow: none;
    color: #eee;
	-webkit-appearance: none;
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
    margin: 0;
}

.go-here{
	width: 90%;
	margin-left: 0.5rem;
	margin-top: 1em;
	border-radius: 5px;
	background-color: #5DAA35;
	transition: all 0.5s;
}
.go-here:hover{
	background-color: #5DAA35;
}

.on {
	color: #ffffff;
}

.off {
	color: #000000;
}

#position ul .axis .units {
	font-size: 12px;
	text-transform: lowercase;
	vertical-align: baseline;
}

#position ul .axis .rotunits {
	font-size: 12px;
	text-transform: lowercase;
	vertical-align: baseline;
}

#position ul .axis .home, #keyboard ul .set {
	padding: 0;
	text-align: center;
}

#position ul .axis .home span, #keyboard ul .set span {
	width: 32px;
	height: 32px;
	float: left;
	margin-top: 8px;
	margin-top: 0.5rem;
}

#position ul .axis .home:hover, #keyboard ul .set:hover {
	cursor: pointer;
}

#position ul .axis .home span {
	background: #dd8728;
	font-family: 'Droid_Sans_Mono';
	font-size: 21px;
	font-size: 1.3175rem;
	font-weight: bold;
}

#position ul .axis .home span label {
	font-size: 12px;
	font-size: 0.75rem;
	background: none;
	display: inline;
	border: none;
	color: #eee;
	padding: 0;
	padding-left: 4px;
	padding-left: 0.125em;
	font-weight: 100;
	vertical-align: text-bottom;
}

#position ul .columns{
	position: relative;
}

#position ul .inOut {
    margin-top: .3em;
	font-size: 14px;
	font-size: 0.875rem;
}

.inOut:first-child{
    margin-left: 1em;
}

.inOutSwitch{
    margin-left: 2em;
    height: 20px;
}

#position ul .inOut .columns {
	font-size: 13px;
	font-size: 0.8125rem;
    padding: 0;
    margin: 0;
    font-weight: 900;
}

#position ul .inOut:not(.hidden) .columns::after{
	border-top-color: #eee;
	right: 15px;
	right: 0.9375em;
	bottom:0;
}

#position ul .switch .columns {
	text-align: left;
	padding: 0;
	font-size: 12px;
	font-size: 0.75rem;
	font-family: 'Droid_Sans_Mono';
}


#job-info ul li:first-child label {
	background-color: #aaa;
	text-align: center;
	color: #fff;
	font-family: 'Droid_Sans_Mono';
	font-size: 15rem;
	font-size: 0.9375rem;
	font-weight: bolder;
	text-transform: capitalize;
	border-bottom: none;
	margin: 0 auto;
}

.progress-container {
	border: 2px solid black;
	background: gray;
	border-radius: 5px;
	height: 20px;
}

.progress {
	border-radius: 1px;
	border: none;
	background: repeating-linear-gradient(
	  45deg,
	  #2E3865,
	  #2E3865 5px,
	  #1C223D 5px,
	  #1C223D 10px
	);
	background-color:#2E3865;
	height: 100%;
}


#job-info .button {margin:0;}
#job-info .control {padding:0;}
#job-info .button.warning { background-color:#dd8728;}
#job-info .button.alert { background-color:#9c210c;}
#job-info .alert-box {
	border: none;
	color: #fff;
	background: #aaa;
	font-family: 'Droid_Sans_Mono';
	font-size: 16px;
	font-size: 1rem;
}
#job-info .file-info > label {
	background-color: #eee;
	color: #666;
	border-top: 0px;
	text-align: center;
}
#job-info .file-info > label > span {
	font-size: 1.375em;
	font-weight: normal;
}
#job-info .file-info {
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	padding-left: 0 !important;
	padding-right: 0 !important;
}


/* ********** Icon apps grid ********** */

#app-client-container {
	width: 100%;
	height: 100%;
    -webkit-transition: padding 0.5s; /* Safari */
    transition: padding 0.5s;
    visibility: hidden;
    overflow: hidden;
}

#app-menu-container {
	visibility: invisible;
}
#waiting_container {
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
	display: none;
}

#waiting_container svg {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	color: #2E3865
}

#spinner-container {
	width: 100%;
	height: 100%;
}


.app-icon {
	width: 100px;
	width: 6.25rem;
	height: 128px;
	height: 8rem;
	text-align: center;
	margin: 16px;
	margin: 1rem;
	margin-bottom: 0;
	display: inline-block;
}

.app-icon .add {
	width: 100px;
	width: 6.25rem;
	height: 100px;
	height: 6.25rem;
	line-height: 76px;
	padding: 12px;
	padding: 0.75rem;
	border-radius: 8px;
	border-radius: 0.5rem;
	border: dashed 3px #bbb;
	color: #bbb;
	font-size: 35px;
}

.app-icon:hover .add {
	border: dashed 3px #666;
	color: #666;
}

.app-icon:hover .add-title {
	color: #666;
}

.add-title {
	margin-top: 4px;
	margin-top: 0.25rem;
	font-family: 'source_sans_proregular';
	color: #bbb;
	font-style: italic;
}


.app-icon[display=none] { display: none; }

.app-title {
	margin-top: 4px;
	margin-top: 0.25rem;
}

.app-title a {
	font-family: 'source_sans_proregular';
	color: #444;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.app-icon:hover .app-title a {
	color: #333;
	-webkit-transition: opacity .6s;
	transition: opacity .6s;
}

.app-icon img {
	width: 100px;
	width: 6.25rem;
	height: 100px;
	height: 6.25rem;
	padding: 12px;
	padding: 0.75rem;
	border-radius: 8px;
	border-radius: 0.5rem;
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	box-shadow: 0 1px 6px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 0.0626rem 0.375rem rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0.0626rem 0.375rem rgba(0,0,0,0.25);
	box-shadow: 0 0.0626rem 0.375rem rgba(0,0,0,0.25);
}

.app-icon:hover img {
	-moz-box-shadow: 0 1px 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 8px rgba(0,0,0,0.5);
	box-shadow: 0 1px 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0.0626rem 0.5rem rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0.0626rem 0.5rem rgba(0,0,0,0.5);
	box-shadow: 0 0.0626rem 0.5rem rgba(0,0,0,0.5);
	filter: alpha(opacity=100); /* For IE8 and earlier */
	opacity: 1;
	-webkit-transition: opacity .6s;
	transition: opacity .6s;
}

.app-icon.sortable-ghost, .sortable-ghost {
	border: 3px dashed #CCC;
	background : url('../img/icon_plus_cross.png') no-repeat center;
	background-size: 48px;
	background-size: 3rem;
}

.app-icon.sortable-ghost > *, .sortable-ghost > * {visibility: hidden;}

/* ********** iFrame main container ********** */
.app-iframe {
	width: 100%;
	height: 100%;
	border:0px;
}

#app_menu_container {
	list-style: none;
	height :100%;
	/*margin-left: auto;
	margin-right: auto;*/
	/* auto margins center the apps, but make them jump when the DRO is displayed (ick) */
}

/* ********** footer stuff********** */
.footBar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 0px;
	background-color: #333333;
	z-index: 1006;
	display: block;
	transition: all 0.3s;
	box-shadow: 0px -2px 15px -6px rgba(0,0,0,0.75);
}

.pauseJob div {
	color: #ffffff;
	font-size: 35px;
	font-family: Arial;
	z-index: 10;

}

.pauseJob-wrapper {
	display: block;
	align-items: center;
	justify-content: center;
    cursor: pointer;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 36%;
	height: 150px;
	margin-top: 12px;
	background: #ff0000;
	border: solid 5px #A60000;
	border-radius: 5px;
	text-decoration: none;
	transition: border background-color 2s linear;
	-webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
          user-select: none;
}

.pauseJob {
    display: flex;
    cursor: pointer;
	align-items: center;
	justify-content: center;
	transition: all 1s;
	width: 100%;
   	height: 100%;
}


.fabmo-resume-stop {
    margin-top: 12px;
	position: relative;
    width: 36%;
	height: 150px;
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
	-webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
          user-select: none;
}






.pauseJob.blink{
	border: 5px solid #ff0000;
	background-color: #A60000;
	transition: border background-color 2s linear;
}

.fabmo-resume-stop .but {
    display: flex;
    cursor: pointer;
	align-items: center;
	justify-content: center;
	font-family: Arial;
	color: #ffffff;
	font-size: 25px;
	line-height: 3.3em;
	text-decoration: none;
	transition: all 1s;
	width: 100%;
   	height: 50%;
}


.stopJob {
   background: #ff0000;
   border: solid #ff0000 1px;
   border-radius: 0 0 5px 5px;
}
.resumeJob {
    background: #32B433;
	border: solid #00A600 1px;
    border-radius: 5px 5px 0 0;
}




.currentContainer {
	margin-top: 65px;
	margin-left: 2em;
	float: left;
	overflow: hidden;
    max-width: 200px;
	max-height: 100px;
}

.currentJobTitle {
	color: #F0F0F0;
	font-size: 20px;
	font-family: 'source_sans_proextralight';
    white-space: nowrap;
	text-align: center;

}

@media only screen and (max-width: 700px){
	.pauseJob div {
		font-size: 2em;
	}

	.pauseJob-wrapper{
		margin-top: 40px;
		height: 100px;
	}

	.fabmo-resume-stop div {
        font-size: 14px;

    }
    .fabmo-resume-stop {
        margin-top: 40px;
		height: 100px;
    }
	.currentContainer {
		max-width: 100px;
		margin-left: 1em;
	}

	.currentJobTitle {
		 font-size: 15px;
	}
}

@media only screen and (max-width: 400px){
	.pauseJob div {
		font-size: 2em;
	}

	.pauseJob-wrapper{
		margin-top: 40px;
		height: 100px;
	}

	.fabmo-resume-stop div {
        font-size: 14px;

    }
    .fabmo-resume-stop {
        margin-top: 40px;
		height: 100px;
    }
	.currentContainer {
		display: none;
	}

	.currentJobTitle {
		 font-size: 15px;
	}
}



.radial_progress {
	margin-top: 55px;
	background-color: #444444;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	float: right;
	margin-right: 1em;
}

.fill {
    background-color: #5DA423;
    height: 50px;
    width: 50px;
    transition: -webkit-transform 1s;
    transition: -ms-transform 1s;
    transition: transform 1s;
    position: absolute;
    clip: rect(0px, 25px, 50px, 0px);
    -webkit-backface-visibility: hidden;
    border-radius: 50%;
}

.perecent_circle .mask {
      clip: rect(0px,50px,50px,25px);
      height: 50px;
      width: 50px;
      position: absolute;
      transition: -webkit-transform 1s;
        transition: -ms-transform 1s;
            transition: transform 1s;
}
.mask .fill {
    clip: rect(0px, 25px, 50px, 0px);
}
.inset {
    background-color: #333333;
    width: 42px;
    height: 42px;
    position: absolute;
    margin-left: 4px;
    margin-top: 4px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
.shadow {
      width: 50px;
      height: 50px;
      position: absolute;
      border-radius: 50%;
      box-shadow: inset 3px 3px 5px rgba(0,0,0,0.2);
}

.inset .percentage {
     color: #5DA423;
     font-size: 15px;
     width: 40px;
     position: absolute;
     line-height: 1;
     text-align: center;
     top: 14px;
     left: 2px;
	 font-family: 'source_sans_proextralight';
}

.load_container {
	margin-top: 65px;
    width: 200px;
	float: right;
	margin-right: 15px;

}
.load_container .loading_bar {
    float: left;
    background-color: #444444;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
        0px 0.3px 0px 0px rgba(200, 200, 200, 0.5);

}
.loading_bar .horizontal_fill {
    background-color: #5DA423;
    position: relative;
    height: 28.5px;
    width: 100%;
    top: 1px;
    left: 1px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5) inset,
        0px 0.1px 0px 0px rgba(200, 200, 200, 0.5);
	transition: all 1s;
}
.percent_comp {
	float: right;
	margin: 3px;
	font-size: 17px;
	color: #F0F0F0;
	font-family: 'source_sans_proextralight';
}

.elapsed_time{
	font-family: 'source_sans_proextralight';
    display: inline-flex;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color:#F0F0F0
}

.elapsed_time_small{
	font-family: 'source_sans_proextralight';
    display: block;
    width: 55px;
    text-align: center;
    color:#F0F0F0;
	font-size: 14px;
    margin-top: 50px;
}
.elapsed_time_label{
	margin-right: 5px;
}

.elapsed_time_small p{
	font-size: 12px;
	margin: 0;
	display: inline;
}



/* ********** Page (#modal_container) container ********** */
#modal_container {
	padding: 10px 20px;
	padding: 0.625rem 1.25rem;
}

#modal_container h2 {
	color: #555;
	text-transform: capitalize;
}

#modal_container .page_container { background-color: #fff;}

/* ********** Scrollbars ********** */
@media only screen and (max-width: 64.063em) {
	::-webkit-scrollbar {
		display: none;
	}
}

#left-menu ::-webkit-scrollbar {
	display: none !important;
}

.fabmo-status-idle { color: blue; }
.fabmo-status-disconnected { color: gray; }

.keyboard {
	text-align: center;
}


.keypad-button {
	border : 2px solid #333333;
	border-radius: 10px;
	background : #444444;
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.keyboard-button-active {
	background: #5DAA35;
}

.keyboard-button-inactive {
	background : #444444;
}

.drive-button {
	color: white;
	font-weight: bolder;
	font-size: 24px;
	text-align: center;
}

.drive-button.square {
	width  : 50px;
	height : 50px;
	line-height: 45px;
    position: relative;
    z-index: 10;
}

.drive-button.bar {
	text-align: center;
	padding: 4px;
	color: white;
	font-weight: bolder;
	width  : 60px;
    height: 82px;
    position: relative;
    right: 10px;
}


.keyboard-button {
	color: white;
	line-height: 50px;
	border-radius: 32px;
	font-weight: bolder;
	font-size: 24px;
	text-align: center;
	width  : 50px;
	height : 50px;
}

.enter-button {
	color: white;
	line-height: 45px;
	border-radius: 32px;
	font-weight: bolder;
	font-size: 24px;
	text-align: center;
	width  : 50px;
	height : 50px;
}

.settings-button {
	color: white;
	line-height: 48px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	width  : 100%;
	height : 48px;
}

.drive-button-active {
	background: #5DAA35;
}

.drive-button-active-transient {
	background: #D48B3A;
}

.drive-button-inactive {
	background-color: #444444;
	color: white;
}

.keypad-table {
	display: table;
}

.keypad-row {
	display: table-row;
}

.keypad-cell {
	display: table-cell;
	padding: 4px;

}

.button-border{
    position: relative;
    width: 36px;
    height: 30px;
    right: 39px;
    border-right: 2px solid #333333;
}
.keypad-bar {
	 position: absolute;
     right: 5px;
}

.keypad-bar.top {
    top: 4px;

}

.keypad-bar.top i {
   position: relative;
   top: -15px;

}

.top.button-border{
    background-color: #9C210C;
    position: absolute;
    top: 56px;
    border-top: 2px solid #333333;

}

.bottom.button-border{
    background-color: #9C210C;
    position: absolute;
    top: 93px;
    border-bottom: 2px solid #333333;

}

.keypad-bar.bottom i {
   position: relative;
   bottom: -35px;

}

.keypad-bar.bottom {
    top: 93px;
}

#modalDialogButtons {
	width: 100%;
	text-align: right;
	color: white;
	line-height: 64px;
	font-weight: bolder;
	font-size: 24px;
	text-align: center;
}

#dro-choice {
	text-align: center;
}

#dro-choice ul {
	color: white;
	list-style-type: none;
	font-family: 'source_sans_proextralight';
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-left: 0px;
}

#dro-choice li {
	display: inline;
	border-radius : 0.5em;
	padding: 0.375em;
	background-color: #7F2D1A;
	margin-left: 1em;
	margin-right: 1em;
	opacity: 0.25;
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dro-choice li.active {
	opacity: 1;
}

.dro-view.active {
	display: block;
}



.dro-view label {
	font-size: 36px;
	font-size: 1.5rem;
	font-family: 'source_sans_proextralight';
	font-weight: 300;
	text-transform: capitalize;
	text-align: center;
	border-bottom: none;
	color: white;
	/*border-bottom: 1px solid white;
	margin-left: 1em;
	margin-right: 1em;*/
}

.fa-keypad {
	line-height: inherit;
	text-shadow: 1px 1px 4px black;
	display: block;
	pointer-events: none;
}

#keypad {
	margin-left: 4px;
    position: relative;
}



@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.maingear {
	transform-origin: 50% 50%;
	animation: spin 4s linear infinite;
}

/* Edge specific */
@supports (-ms-ime-align:auto) {
    #waiting_container > svg {
      top: 40%;
      transform-origin: 50% 50%;
    	animation: spin 4s linear infinite;
    }
}

 /*Old chipfly animation*/
/*@keyframes chipflyone {
  0% {
    transform: translate(0px, -10px);
    opacity: 1;
  }
  25% {
    transform: translate(-20px, -20px);
    opacity: 1;
  }
  50% {
    transform: translate(-50px, -30px);
    opacity: .5;
  }
  75% {
    transform: translate(-50px, -30px);
    opacity: 0;
  }
  100% {
    transform: translate(-50px, -30px);
    opacity: 0;
  }
}

@keyframes chipflytwo {
  0% {
    transform: translate(0px, -10px);
    opacity: 1;
  }
  25% {
    transform: translate(25px, -30px);
    opacity: 1;
  }
  50% {
    transform: translate(50px, -50px);
    opacity: .5;
  }
  75% {
    transform: translate(50px, -50px);
    opacity: 0;
  }
  100% {
    transform: translate(50px, -50px);
    opacity: 0;
  }
}

@keyframes chipflythree {
  0% {
    transform: translate(0px, -10px);
    opacity: 1;
  }
  25% {
    transform: translate(-25px, -20px);
    opacity: 1;
  }
  50% {
    transform: translate(-55px, -20px);
    opacity: .5;
  }
  75% {
    transform: translate(-55px, -20px);
    opacity: 0;
  }
  100% {
    transform: translate(-55px, -20px);
    opacity: 0;
  }
}

.chip.one {
    animation: chipflyone .5s ease infinite;
}

.chip.two {
    animation: chipflytwo .5s .2s ease infinite;
}

.chip.three {
    animation: chipflythree .5s .4s ease infinite;
}*/

.drobuttonOuter{
    position: relative;
    margin-top: 4px;
    margin-left: 4px;
    width: 36px;
    height: 36px;
    border: 2.5px solid #FEFEFE;
    border-radius: 50%;

}

.drobuttonInnerL{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 23px;
    height: 23px;
    border: 2.5px solid #FEFEFE;
    border-radius: 50%;

}

.drobuttonInnerS{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border: 2.5px solid #FEFEFE;
    border-radius: 50%;
    animation: width .4s linear;
}

@keyframes pulse {
    0% {
        -webkit-box-shadow: 0px 0px 0px 1px #FEFEFE;
    -moz-box-shadow: 0px 0px 0px 1px #FEFEFE;
    box-shadow: 0px 0px 0px 1px #FEFEFE;
    }

    100%{
         -webkit-box-shadow: 0px 0px 0px 13px #FEFEFE;
    -moz-box-shadow: 0px 0px 0px 13px #FEFEFE;
    box-shadow: 0px 0px 0px 13px #FEFEFE;
    opacity: .2;
    }
}

@keyframes width {
     0% {
       width: 10px ;
       height: 10px;
    }

    50%{
       width: 36px;
       height: 36px;
    }
    100%{
       width: 10px;
       height: 10px;
    }
}

.newModal{
    display: none;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3001;
    background-color: #eee;
    padding-top: 1.5em;
    border-radius: 5px;
      -webkit-font-smoothing: antialiased;
}

.modalDim{
	display:none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.45);
    z-index: 3000;
}

.modalLogo{
    position: relative;
    height: 30px;
    padding-bottom: 30px;
}

.modalLogo svg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modalTitle{
    text-align: center;
     color: #333333;
    padding: 0;
    margin: 0;

}
.modalSubContent{
    display: inline-block;
    width: 100%;


}
.modalImage{
    position: relative;
    display: inline-block;
    width: 25%;
    padding-top:25%;
    vertical-align: top;
}

.modalImage img{
    direction: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.modalDialogue{
    text-align: center;
    font-size: 20px;
     color: #333333;
    display: inline-block;
    margin-right: 1em;
    width: 65%;

    padding: 0;
}

@media screen and (max-width: 750px) {
    .newModal{
        width: 90%;
    }
}

.modalButtons {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.modalOkay{
	color: #fff;
    padding-top: .5em;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 30%;
    text-align: center;
    background-color: #5DAA35;
    border-radius: 5px;
    margin-bottom: 1em;
}

.modalCancel{
	color: #fff;
    padding-top: .5em;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 30%;
    text-align: center;
    background-color: #9C210C;
    border-radius: 5px;
    margin-bottom: 1em;
}


#beacon_consent_container {
    display: none;
    width: 40%;
	max-width: 500px;
	min-width: 330px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3001;
    background-color: #fcfcfc;
      -webkit-font-smoothing: antialiased;
}

#beacon_consent_inner{
	margin: 1.5em 1.5em 0 1.5em;
	padding: 1em;
	background-color: #fff;
	line-height: 1.2em;
	font-size: 1.2em;
	font-family: source_sans_proextralight;
}

#beacon_sub_container{
	padding: 1em;
	width: 100%;
}

#beacon_checkbox_label, #beacon_checkbox, #beacon_consent_button{
	display: inline-block;
}


#beacon_consent_button {
	background-color: #5DAA35;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	float: right;
	padding: 0.5em 0.6em 0.5em 0.6em;
	margin-right: 0.5em;
	transform: translateY(-8px)
}

#beacon_checkbox {
	transform: translateY(1px);
	margin-left: 5px;
}


.toast {
    opacity:0.9 !important;
}


.loader {
	position: absolute;
  	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
	will-change: transform;
}


.loader svg {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

/* Special Custom Style : rotations et animations */


.spinner {


	text-indent: -9999em;
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	background: #fff;
	background: -moz-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #fff 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;

  }
  .spinner:before {
	width: 50%;
	height: 50%;
	background: #fff;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
  }
  .spinner.red:after {
	background: #ff0000;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  }

  .spinner.green:after {
	background: #32B433;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  }

  @-webkit-keyframes load3 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @keyframes load3 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }



/*Old loading spinner*/
/*@-webkit-keyframes spinner {
  0% {

    box-shadow: 0 -.82em 0 -0.43em #313366, 0 -0.82em 0 -0.43em #313366, 0 -0.82em 0 -0.43em #313366;
  }
  5%,
  95% {
    box-shadow: 0 -0.82em 0 -0.43em #313366, 0 -0.82em 0 -0.43em #313366, 0 -0.82em 0 -0.43em #313366;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.45em #9C210C, -0.087em -0.825em 0 -0.45em #5DAA35, -0.173em -0.812em 0 -0.45em #DD8728;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.46em #9C210C, -0.338em -0.758em 0 -0.46em #5DAA35, -0.555em -0.617em 0 -0.46em #DD8728;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.47em #9C210C, -0.377em -0.74em 0 -0.47em #5DAA35, -0.645em -0.522em 0 -0.47em #DD8728;
  }
  100% {
     -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.82em 0 -0.43em #313366, 0 -0.82em 0 -0.43em #313366, 0 -0.82em 0 -0.43em #313366;
  }
}
@keyframes spinner {
  0% {
     -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -.8em 0 -0.42em #313366, 0 -0.8em 0 -0.42em #313366, 0 -0.8em 0 -0.42em #313366;
  }
  5%,
  95% {
    box-shadow: 0 -0.8m 0 -0.42em #313366, 0 -0.8em 0 -0.42em #313366, 0 -0.8em 0 -0.42em #313366;
  }
  10%,
  59% {
    box-shadow: 0 -0.8em 0 -0.45em #9C210C, -0.087em -0.825em 0 -0.45em #5DAA35, -0.173em -0.812em 0 -0.45em #DD8728;
  }
  20% {
    box-shadow: 0 -0.8em 0 -0.46em #9C210C, -0.338em -0.758em 0 -0.46em #5DAA35, -0.555em -0.617em 0 -0.46em #DD8728;
  }
  38% {
    box-shadow: 0 -0.8em 0 -0.47em #9C210C, -0.377em -0.74em 0 -0.47em #5DAA35, -0.645em -0.522em 0 -0.47em #DD8728;
  }
  100% {
     -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.8em 0 -0.42em #313366, 0 -0.8em 0 -0.42em #313366, 0 -0.8em 0 -0.42em #313366;
  }
}*/

.logout_link_container{
  bottom: 0;
  position: inherit;
  width: inherit;
  text-align: center;
  background-color: #666666;
}
.logout_link_container a{
  color: #eeeeee;
}

.blur {
-webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px);
-ms-filter: blur(2px);
filter: blur(2px);
}

.tour-filter{
	position: absolute;
    width: 100%;
    height: 0;
    z-index: 1;
}
