body {
  background: #eee;
}

h1, h2, h3, h4, h5, h6 {
  color: #666;
}

table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

td.details-control {
    background: url('images/details_open.png') no-repeat center center;
    width: 40px;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('images/details_close.png') no-repeat center center;
    width: 40px;
}

.wifi4 {
    background: url('../images/signal_4.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
}

.wifi3 {
    background: url('../images/signal_3.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.wifi2 {
    background: url('../images/signal_2.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.wifi1 {
    background: url('../images/signal_1.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.wifi0 {
    background: url('../images/signal_0.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.connected {
    background: url('../images/status_connected.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.idle {
    background: url('../images/status_idle.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.warning {
    background: url('../images/status_warning.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.error {
    background: url('../images/status_error.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.child-row-label: {
  font-weight: bold;
  color: red;
}

.alert-box .close {
  color: #eee;
  filter: alpha(opacity=95); /* For IE8 and earlier */
  opacity: 0.95;
}

.reveal-modal {
  padding: 13px;
  padding: 0.8125rem;
  min-height: none;
}

.reveal-modal .row.title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  margin-bottom: 0.625em;
}

table {
  margin-bottom: 8px; 
  margin-bottom: 0.5em;
}

td input, td select {margin:0 !important;}

td.switch {
  text-align: center;
}

td .button {
  margin-bottom: 0;
  padding: 13px 24px;
  padding: 0.8125rem 1.5rem;
}

.hidden, .hide { display:none; }

section .title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  margin-bottom: 0.625em;
}

section .title .button { margin-bottom: 0; }

section .center { text-align: center; }

section.container {
  background-color: #fff;
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  margin: 0;
  padding: 0.5rem;
}

@media only screen and (max-width: 64.063em) and (min-width: 40.063em){
  section.container {
    margin: 2em;
  }
}

@media only screen and (min-width: 40.063em) {

  section.container {
    border-radius: 5px; 
    margin: 2em;
  }
}

section > .row:not(.title) , .separator{
  padding-top: 6px;
  padding-top : 0.375rem;
  padding-bottom: 6px;
  padding-bottom: 0.375rem;
  margin-bottom: 10px;
  margin-bottom: 0.625em;
  border-bottom: 1px solid #ccc;
  line-height: 40rem;
  line-height: 2.5rem;
  vertical-align: middle;
}

section > .row:last-child, section > .content:last-child  > .row {
  padding-bottom: 0;
  border-bottom: none;
}


