body {
  background: #eee
}

#modal-title {
  font-weight: 700;
  color: #2E3865;
}

#confirm-modal-title {
  font-size: 150%;
  font-weight: 700;
  font-style: oblique;
  color: #2E3865;
}

#confirm-modal-description {
  color: black;
  font-style: italic;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.hidden, .hide { display:none; }

.wifi4 {
    background: url('../images/signal_4.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
}

.wifi3 {
    background: url('../images/signal_3.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.wifi2 {
    background: url('../images/signal_2.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.wifi1 {
    background: url('../images/signal_1.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
}
.wifi0 {
    background: url('../images/signal_0.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
}

.connected {
    background: url('../images/status_connected.png') no-repeat center center;
    background-size: contain;
    width: 32px;
    height: 32px;
}
