body {
  background: #eee
}

h1 {
  color: black;
  margin-left: 1em;
  font-size: 1.5em;
  font-weight: 900;
}

.table-outer {
  margin: 1em;
}

.description {
  font-style: italic;
}

#modal-title {
  font-weight: 700;
  color: #2E3865;
}

#confirm-modal-title {
  font-size: 150%;
  font-weight: 700;
  /* font-style: oblique; */
  color: #2E3865;
}

#confirm-modal-description {
  color: black;
  /* font-style: italic; */
}

/* NEXT 2, kludge for some media split */
.menu-name {
  background-color: #777;
}
.menu-name:hover {
  background-color: #777;
}

.security {
  cursor: default;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.hidden, .hide { display:none; }

.wifi4 {
    background: url('../images/signal_4.png') no-repeat center center;
}

.wifi3 {
    background: url('../images/signal_3.png') no-repeat center center;
}
.wifi2 {
    background: url('../images/signal_2.png') no-repeat center center;
}
.wifi1 {
    background: url('../images/signal_1.png') no-repeat center center;
}
.wifi0 {
    background: url('../images/signal_0.png') no-repeat center center;
}

.connected {
    background: url('../images/status_connected.png') no-repeat center center;
}


#wifiLogin {
  /* Style your login box */
  width: 300px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}

.passphrase-container {
  position: relative;
  width: 100%;
}

#passphraseInput {
  width: calc(100% - 40px); /* space for the icon */
  padding-right: 30px;
  box-sizing: border-box;
}

.toggle-passphrase {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-passphrase i {
  margin-right: 10px;
}
