#editor { 
    position: relative;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
}

#modal-title {
  font-weight: 700;
  color: #2E3865;
}

.top-bar h1 {
    width: fit-content;
    padding-left: 15px;
}

.no-hover {
    pointer-events: none;    
}

.menu-name {
    color: #eee;
}

#app-header {
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 12px;
}

#app-content {
    background-color: #777;
    padding-left: 12px;
    padding-right: 2px;
}

#edit-filename {
    background-color: #777;
    padding-left: 3px;
    padding-right: 3px;
}

#app-header-language {
    background-color: #777;
    padding-left: 2px;
    padding-right: 20px;
}


body {
  background: #ffffff;
} 

h1, h2, h3, h4, h5, h6 {
  color: #666;
}

.hidden, .hide { display:none; }

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#exit_btn:hover {
    cursor: pointer;
    color: #ddd;
    background-color:#555;
}

#exit_btn {
    color: #999;
    border-radius: 2rem;
    font-size: 1.2rem;
    float: right;
    margin-right: 15px;
    width: 50%;
    padding-right: 1.5rem;
}

.expanded #exit_btn {
    display: none;
}

#small_menu {
    right: 30px;
}

#exit_small {
    color: #999;
    padding: .3rem;
    border-radius: 2rem;
    position: relative;
    top: .1rem;
    right: -10px;
    font-weight: lighter;
    font-size: 1.2rem;
}

#exit_small:hover {
    cursor: pointer;
    color: #ddd;
    background-color:#555;
}
