.cm-s-fabmo span.cm-meta { color: #FF1717; }
.cm-s-fabmo span.cm-keyword { line-height: 1em; font-weight: bold; color: #7F0055; }
.cm-s-fabmo span.cm-atom { color: #219; font-weight: bold; }
.cm-s-fabmo span.cm-number { color: #00f; }
.cm-s-fabmo span.cm-def { color: #00f; }
.cm-s-fabmo span.cm-variable { color: #a00000;}
.cm-s-fabmo span.cm-variable-2 { color: #00a000; }
.cm-s-fabmo span.cm-variable-3 { color: #0000a0; }
.cm-s-fabmo span.cm-property { color: #f0f; font-weight: bold; }
.cm-s-fabmo span.cm-operator { color: black; }
.cm-s-fabmo span.cm-comment { color: #AAA; }
.cm-s-fabmo span.cm-string { color: #f0f; }
.cm-s-fabmo span.cm-string-2 { color: #f50; }
.cm-s-fabmo span.cm-qualifier { color: #555; }
.cm-s-fabmo span.cm-builtin { color: #30a; }
.cm-s-fabmo span.cm-bracket { color: #cc7; }
.cm-s-fabmo span.cm-tag { color: #170; }
.cm-s-fabmo span.cm-attribute { color: #00c; }
.cm-s-fabmo span.cm-link { color: #219; }
.cm-s-fabmo span.cm-error { color: white; background-color: #9C210C; border-radius: 3px; }

.cm-s-fabmo .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-fabmo .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }
