body {
  background: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  color: #666;
}

html, body {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

label {
  margin-bottom: 2px;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#engine-version {
  color: #888888;
}
fieldset {
  color: #000000;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5em;
}

.update-available {
  background-color: #4CBF42;
}

.update-available:hover {
  background-color: #2F5C19;
}


button.small, .button.small {
  padding-top: 13px;
  padding-top: 0.8125rem;
  padding-bottom: 13px;
  padding-bottom: 0.8125rem;
}

@media only screen and (max-width: 40.063em) {
  button.small, .button.small {
    padding-top: 9px;
    padding-top: 0.5625rem;
    padding-bottom: 9px;
    padding-bottom: 0.5625rem;
    padding-right: 18px;
    padding-right:  1.125rem;
    padding-left: 18px;
    padding-left: 1.125rem;
  }
}


.tip-output {
  position: fixed;
  right: 90px;
  min-width: 200px;
  max-width: 350px;
  width: 70%;
  text-align: left;
  background-color: #ffffff;
  padding: 1em;
  border: 1px solid #dddddd;
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
  z-index: 9;
  border-radius: 5px;
  font-family: source_sans_proextralight;
  display: none;
}

.commentBox{
  position: absolute;
  top: 10px;
  right: -0.5em;
  width: 1em;
  height: 1em;

  background-color: #ffffff;
  -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  border-top:    1px solid  #dddddd;
  border-right:   1px solid  #dddddd;
  z-index: 10;
}

td input, td select {margin:0 !important;}

td.switch {
  text-align: center;
}

td .button {
  margin-bottom: 0;
  padding: 13px 24px;
  padding: 0.8125rem 1.5rem;
}

a:focus {
  outline: 0;
}

header { padding: 0 3rem;}

/*
*** Section ***
*/

section .title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  margin-bottom: 0.625em;
}

section .title .button { margin-bottom: 0; }

section .center { text-align: center; }

section.container {
  background-color: #fff;
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  padding: 10px 8px;
  padding: 0.625rem 0.5rem;
  padding-bottom: 2px;
  padding-bottom: 0.125rem;
}

@media only screen and (max-width: 64.063em) and (min-width: 40.063em){
  section.container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (min-width: 40.063em) {
  section { border-radius: 5px; }

  section.container {
    padding: 13px;
    padding:0.8125rem;
    padding-bottom: 5px;
    padding-bottom:0.3125rem;
  }
}

section > .row:not(.title) , .separator{
  padding-top: 6px;
  padding-top : 0.375rem;
  margin-bottom: 10px;
  margin-bottom: 0.625em;
  line-height: 40rem;
  line-height: 2.5rem;
  vertical-align: middle;
}

section > .row:last-child, section > .content:last-child  > .row {
  padding-bottom: 0;
  border-bottom: none;
}

.tabs-content>.content {
  padding: 0;
}
/* APP STUFF */
/*
table {
  width: 100%;
}*/

.row {
  max-width: none;
}

.delete-button {
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: .7em;
  border: 1px solid #444444;
  border-radius: 5px;
  box-shadow: .5px .5px .5px #aaaaaa;
}

.changepassword-button {
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0.1em;
  border: 1px solid #444444;
  border-radius: 5px;
  box-shadow: .5px .5px .5px #aaaaaa;
}

.grantadmin-button {
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0.3em;
  border: 1px solid #444444;
  border-radius: 5px;
  box-shadow: .5px .5px .5px #aaaaaa;
}

.revokeadmin-button {
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0.3em;
  border: 1px solid #444444;
  border-radius: 5px;
  box-shadow: .5px .5px .5px #aaaaaa;
}

.tool-tip {
  background-color: #313366;
  float: right;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 130%;
  color: #eee;
  text-align: center;
  font-size: 1rem;
  font-family: serif;
  -webkit-box-shadow: 1px 1px 1px 0px #aaaaaa;
  -moz-box-shadow:    1px 1px 1px 0px #aaaaaa;
  box-shadow:         1px 1px 1px 0px #aaaaaa;
}

.flash-green{

  -moz-animation: flash-green .5s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash-green .5s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash-green .5s ease-out;
  -ms-animation-iteration-count: 1;

}

@-webkit-keyframes flash-green {
    0% { background-color:none;}
    50% { background-color:#4CBF42;}
    100% {background-color:none;}
}

@-moz-keyframes flash-green {
    0% { background-color:none;}
    50% { background-color:#4CBF42;}
    100% {background-color:none;}
}

@-ms-keyframes flash-green {
    0% { background-color:none;}
    50% { background-color:#4CBF42;}
    100% {background-color:none;}
}

.flash-red{

  -moz-animation: flash-red .5s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash-red .5s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash-red .5s ease-out;
  -ms-animation-iteration-count: 1;

}

@-webkit-keyframes flash-red {
    0% { background-color:none;}
    50% { background-color:#9C210C;}
    100% {background-color:none;}
}

@-moz-keyframes flash-red {
    0% { background-color:none;}
    50% { background-color:#9C210C;}
    100% {background-color:none;}
}

@-ms-keyframes flash-red {
    0% { background-color:none;}
    50% { background-color:#9C210C;}
    100% {background-color:none;}
}


#dropzone .hovershow {
  opacity: 0.0;
}

#dropzone .hoverdim {
  opacity: 1.0;
}

#dropzone.hover {
  width: 99%;
  border: 5px dashed #ccc;
  border-radius: 10px;

}

#dropzone.hover .hovershow {
  opacity: 1.0;
}

#dropzone.hover .hoverdim {
  opacity: 0.2;
}

#dropzone .message {
  z-index: 3;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  color: black;
  font-weight: bold;
  font-style: italic;
  width:100%;
  margin: 0 0 0 -50%;
  opacity: 0%;
}

.app-icon {
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 1px #aaaaaa;
}

.app-ghost {
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 5px;
  border: dashed 2px #bbb;
  line-height: 30px;
  padding: 10px;
  color: inherit;
  font-size: 20px;
  text-align: center;
}

.app-install-text {
  color: inherit;
  font-weight: 500;
  font-style: italic;
  font-size: 1em;
}

.app-install-row td  {
  color: inherit;
}
.app-install-row {
  color: #bbb;
}

.app-install-row:hover {
  color: #666;
}

.app-install-row:hover .app-ghost {
  border: dashed 2px #666;
}

.app-ghost span {
  color: inherit;
}

.hidden, .hide { display:none; }


#modal-title {
  font-weight: 700;
  color: #2E3865;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 9;
    display: none;
}

.modal-content{
    background-color: rgba(20,20,20,0.98);
    text-align: center;
    width: 60%;
    min-height: 200px;
    box-shadow: 0 50px 100px rgba(0,0,0,0.8);
    position: fixed;
    top: -500%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 5px;
    max-width: 500px;
    min-width: 300px;
    padding: 4em 1em 0 1em;
    transition: all .5s;
}


.deleteCancel{
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;
    background-color: #444444;
    opacity: 1;
    border-radius: 0 0 0 5px;
}

.deleteCancel:hover{
    background-color: #444444;
}

.deleteCancel:focus{
    background-color: #444444;
}

.deleteOkay{
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    background-color: #32B433;
    opacity: 1;
    border-radius: 0 0 5px 0;
}

.deleteOkay:hover{
    background-color: #32B433;
}

.deleteOkay:focus{
    background-color: #32B433;
}


#section-machine-name {
  display: none;
}

#section-machine-id {
  display: none;

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
    margin: 0;
}

input[type=number] {
  -webkit-appearance: textfield;
    -moz-appearance:textfield;
    appearance: textfield;
}

select {
   -moz-appearance:none;
}
