.CodeMirror {
  border: 1px solid #eee;
}

#editor { 
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
}

body {
  background: #ffffff;
} 

h1, h2, h3, h4, h5, h6 {
  color: #666;
}