body {
  background: #eee;
  height: 100%;
}

.filter {
    display: none;
     position: fixed;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     z-index: 2000;
     background: #000;
     opacity: 0.8;

}

.tour-dialogue{
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  padding: 2rem;
  position: absolute;
  z-index: 2001;
  background-color: #eee;
  color: #222;
  display: none;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.tour-text {
  margin-bottom: 0;
}

.next{
  width: 100px;
  padding: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: #32B433;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.no{
  width: 100px;
  padding: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: #9C210C;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-left: 1rem;
}

.tour-buttons {
  margin-top: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.tour-pointer {
  position: absolute;
    left: 7px;
    max-width: 250px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    z-index: 2002;
    padding: 0.5rem;
    display: none;
    border-radius: 2px;
}

.pointer{
  position: absolute;
    left: 5px;
    width: 1rem;
    height: 1rem;
    margin-top: 1px;
    transform: translatex(2.1em);
    background-color: #ffffff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    box-shadow: 2.5px 2.5px 5px -2.5px rgba(0,0,0,0.75);
}

.running {
  animation: pulse 2s infinite;
}
.running .inset {
  animation: pulse 2s infinite;
}
.running .radial_progress {
    animation: pulse_progress 2s infinite;
}

.topjob.running {
  border: 2px solid #91331E;
}
.running .nextJobTitle {
  color: #91331E;
}
.running .row.title {
  border-bottom: 1px solid #91331E;
}

/*@keyframes pulse_progress {
  00% { background-color: #eee;}
  50% { background-color: #bcbcbc;}
  00% { background-color: #eee;}
}*/
/* //#F9D5D8; */
/*@keyframes pulse {
  00% { background-color: #ffffff;}
  50% { background-color: #bcbcbc;}
  00% { background-color: #ffffff;}
}*/

.topjob {
  min-height: 170px;
  transition: all 0.5s;
}

#tabpending{

}

.hover .hoverdim {
  -webkit-transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  opacity: 0.2;
}

#droptarget {
  visibility: hidden;
  opacity: 0;
}

.hover #droptarget {
  visibility: visible;
  opacity: 1;
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: #444444;
  background-image: url('../images/droptarget.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  z-index: 10;
}

h1, h2, h3, h4, h5, h6 {
  color: #666;
}
.jobs-title:first-child {
  min-height: 40px;
}

.jobs-title{
  padding: 0.5em;
}
 .up-next{
   position: absolute;
   left: -2000px;
   top: 0;
   font-weight: bold;
   transition: all 0.5s;
 }

 .no-jobs {
   position: absolute;
   left: -2000px;
   top: 0;
   font-weight: bold;
   width: 100%;
   height: 100px;
   transition: all 0.5s;
 }
 .now-running{
   position: absolute;
   top: 0;
   left: -2000px;
   font-weight: bold;
   transition: all 0.5s;
   color: #91331E;
 }

 .without-job{

   top: 0;
   transition: all 0.5s;
   width: 100%;
   border: 3px dashed #666666;
   height: 150px;
   background-color: #fff;
 }

 .without-job img{
     height: 55px;
     width: auto;
 }

 .without-job p {
     color: #666666
 }

 .submitWrapper{
     position: relative;
     height: 100%;
     width: 100%;
 }

 .submitActions{
     text-align: center;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
 }

 .submitActions p {
     margin: 0;
 }

 .with-job{
   position: absolute;
   left: -2000px;
   top: 0;
   transition: all 0.5s;

 }

 .jobs-wrapper{
   position: relative;
   width: 100%;
 }

td.actions-control {
    width: 80px;
    content: attr('&nbsp;');
    text-align: center;

}

#queue_table{
  position: absolute;
}

.columns {
  padding: 0.1em;
}

.nextJobPrev {
  background-color: white;
  padding: 0 0 0 0;
  fill: #333333;
  transition: all 0.5s;
  border: 0px;
  display: none;
  max-width:200px;
}

.svg:hover{
  fill: #32B433;
}
.nextJobDesc {
  max-height: 80px;

}

.job_item:first-child {
  display: block;
  width:98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
  margin-top: 2em;
  padding: 1em;
  height: 200px;
}



.job_item, .recent_item{
    position: relative;
    font-size: .9em;
    padding: 0.5em;
    color: #666;
    width: 145px;
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 0 .5em .5em 1%;
    height: 200px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #ccc;
    overflow: visible;
    -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
          user-select: none;
}



.chosen{
  opacity: .5;
  background-color: #333;
  color: #fff;
  width: 145px !important;

}

.chosen .play-button, .chosen .icon-row {
  display: none;
}
.chosen .description {
  width: 100% !important;
}

.ghost{
  opacity: .5;
  background-color: #777;
}

.job_item:first-child #menu{
  display: none;
}

.job_item:first-child .icon-row{
  position: absolute;
  bottom: 5px;
}

.chosen #menu{
  display: block !important;
}



 .job_item:first-child .description{
      width: 80%;
      white-space: normal;
      overflow: visible;
      margin-top: 0.5em;
  }


.job_name,  #name {
    padding: 1px;
    font-weight: bold;
    line-height: 1.1rem;
    height: 40px;
    overflow: hidden;
    position: relative;

}

.job_item .ellipses{
    font-size: 1.35em;
    padding-left: 0.4em;
    cursor: pointer;
}

.recent_item .ellipses{
  border: none;
}

.add {
  font-size: 2em !important;
  cursor: pointer;
  width: 30px;
  -ms-transform: translate(-3px, -3px); /* IE 9 */
   	-webkit-transform: translate(-3px, -3px); /* Safari */
    transform: translate(-3px, -3px);
}


.job_item .dropDown{
    left: 2px;
    width: 153px;
}

.job_item .jobactions{
     margin-left: 0.3em;
     line-height: 1.5em;
}

.job_item .commentBox{
  left: 17px;
}

.job_item .description, .recent_item .description{
  position: absolute;
  height: 75%;
  overflow: hidden;
}

@media screen and (max-width: 750px){
  .job_item:first-child .description{
    width: 50%;
    height: 50%;
    white-space: normal;
    overflow: hidden;
    margin-left: 0.5em;
  }

  .job_name, #name {
    height: 20px;
  }

  .job_item, .chosen, .recent_item{
    width: 98% !important;
    height: 60px;
  }

  .job_item .description, .recent_item .description{
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 2.5em;
  }

  .chosen .description {
    width: 80% !important;
}
}

.preview, .edit, .download, .cancel {

  z-index: 1000;
}

.ellipses {
    font-size: 1.5em;
    width: 1.7em;
    height: 1.7em;
    color: #A6A6A6;
    border: 1px solid #A6A6A6;
    border-radius: 100%;
    line-height: 1.1em;
    float: left;
    padding-left: 0.1em;
    margin-right: 0.3em;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
          user-select: none;
}

.ellipses:hover {
 border-color: #666;
 color: #666;
 transition: all .1s;
}

.dropDown {
  position: absolute;
  top: inherit;
  left: 7px;
  width: 175px;
  margin-top: 3.1em;
  text-align: left;
  background-color: #ffffff;
  padding-top: 1.5em;
  border: 1px solid #dddddd;
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
  display: none;
  z-index: 9;
}

.dropDown a{
  padding-left: 1em;
}

.jobActions {
  list-style: none;
  line-height: 2em;
}

.commentBox{
  position: absolute;
  top: inherit;
  left: 33px;
  width: 1em;
  height: 1em;
  margin-top: 2.6em;
  transform: translatex(2.1em);
  background-color: #ffffff;
  -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  border-top:    1px solid  #dddddd;
  border-left:   1px solid  #dddddd;
  z-index: 10;
  display: none;
}

.dropDown a:hover{
  color: #32B433;
}

.deleteJob {
  color: #9C210C;
}

.dropDownWrapper{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
  display: none;
}

.icon-row svg {
  fill: #333333;
  max-width: 20px;
  max-height: 20px;
  margin-right: 1em;
  transition: all 0.2s;
}

.icon-row img {
  fill: #333333;
  max-width: 20px;
  max-height: 20px;
  margin-right: 1em;
  transition: all 0.2s;
}



.icon-row {

}

tr.shown td.details-control {
    background-color: #D23334;
    width: 40px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.job-failed {
  color: #FB0000;
}

.job-finished {
  color: #32B433;
}

.job-cancelled {
  color: #b35900;
}

.job-pending {
  color: blue;
}

.pending {
  font-weight: bold;
}

td input, td select {margin:0 !important;}

.tabs dd.active a, .tabs .tab-title.active a {
  background: #666;
  color: #fff;
}

.tabs dd > a, .tabs .tab-title > a {
  color: #666;
  padding: 8px 22px;
  padding: 0.5rem 1.375rem;
}

header { padding: 0 3rem;}


header h2 {
  color:#fff;
  margin-top: 6px;
  margin-top: 0.375rem;
  margin-bottom : 6px;
  margin-bottom: 0.375rem;
}

@media only screen and (max-width: 40.063em) {
  header h2 {
    margin:0;
    padding-top: 2px;
    padding-top: 0.125em;
    padding-bottom: 2px;
    padding-bottom: 0.125em;
  }

  header section  {margin: 0; }
}

section .title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  margin-bottom: 0.625em;
}

section .title .button { margin-bottom: 0; }

section .center { text-align: center; }

section.container {
  background-color: white;
  margin: 0.5em;
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 0.25em;
}

section.current-job-container p {
  font-size: 17px;
  font-size: 1.0625rem;
  margin-bottom: 0;
  color: #666;
}

section.current-job-container .btn {
  padding-left: 0;
  padding-right: 0;
}

section .no-jobs-item { cursor: pointer; }

section > .row:not(.title) , .separator{
/*  padding-top: 6px;*/
  padding-top : 0.375rem;
  padding-bottom: 6px;
  padding-bottom: 0.375rem;
  margin-bottom: 10px;
  margin-bottom: 0.625em;
  border-bottom: 1px solid #ccc;
  line-height: 40rem;
  line-height: 2.5rem;
  vertical-align: middle;
}

section > .row:last-child, section > .content:last-child  > .row {
  padding-bottom: 0;
  border-bottom: none;
}

table {
  margin: 0;
}

.content.active {
  padding: 0;
}
/* Special Custom Style : rotations et animations */
.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}


#tabpending{
  position: relative;
}

.play-button {
  position: absolute;
  top: 40px;
  right: -20px;

  z-index: 50;
}

.radial_progress {
	margin-top: 5px;
    background-color: #eee;
    height: 100px;
    width: 100px;
    border-radius: 50%;
	float: right;
	margin-right: 50px;
}


@media screen and (max-width: 630px){
  .play-button{
    position: absolute;
    right: 0px;
    width: 5%;
  }
    .radial_progress{
    position: relative;
    margin-right: 20px;
  }
}

.fill {
    background-color: #91331E;
    height: 100px;
    width: 100px;
    transition: -webkit-transform 1s;
    transition: -ms-transform 1s;
    transition: transform 1s;
    position: absolute;
    /* rect(<top>, <right>, <bottom>, <left>) */
    clip: rect(0px, 50px, 1000px, 0px);
    -webkit-backface-visibility: hidden;
    border-radius: 50%;
}

.perecent_circle .mask {
    /* rect(<top>, <right>, <bottom>, <left>) */
      clip: rect(0px,100px,100px,50px);
      height: 100px;
      width: 100px;
      position: absolute;
      transition: -webkit-transform 1s;
        transition: -ms-transform 1s;
            transition: transform 1s;
}
.mask .fill {
    clip: rect(0px, 50px, 100px, 0px);
}
.inset {
    background-color: white;
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

.shadow {
      width: 100px;
      height: 100px;
      position: absolute;
      border-radius: 50%;
      box-shadow: inset 3px 3px 5px rgba(0,0,0,0.2);
}

.inset .percentage {
     color: #32B433;
     font-size: 11px;
     width: 28px;
     position: absolute;
     line-height: 1;
     text-align: center;
     top: 10.5px;
     left: 2px;
	 font-family: 'source_sans_proextralight';
}



.play span {
  height: 80px;
  width: 80px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  text-indent: -9999px;
}

.play span:before,
.play span:after {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.play {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin:-40px 0 0 -40px;
  display: Block;
  cursor: pointer;
}
.play span {
  margin: 0;
}
.play span:before {
  content: '';
  height: 0px;
  width: 0px;
  display: block;
  background: transparent;
  border: 25px transparent solid;
  border-right-width: 0;
  border-left-color: #32B433;
  position: absolute;
  top: 45%;
  left: 60%;
  margin: -20px 0 0 -15px;
}
.play span:after {
  content: '';
  height: 0px;
  width: 0px;
  display: block;
  background: transparent;
  border: 25px transparent solid;
  border-right-width: 0;
  border-left-color: #32B433;
  position: absolute;
  top: 45%;
  left: 60%;
  margin: -20px 0 0 -15px;
}

.play.loading span:before {
  content: '';
  height: 40px;
  width: 40px;
  border: 5px transparent solid;
  border-top: 5px #E3B505 solid;
  border-radius: 50%;
  top: 50%;
  left: 45%;
  -webkit-animation:spin 1.5s linear infinite;
  -moz-animation:spin 1.5s linear infinite;
  animation:spin 1.5s linear infinite;
}

.play.loading span:after {
  content: '';
  height: 40px;
  width: 40px;
  border: 5px transparent solid;
  border-bottom: 5px #E3B505 solid;
  border-radius: 50%;
  top: 50%;
  left: 45%;
  -webkit-animation:spin 1.5s linear infinite;
  -moz-animation:spin 1.5s linear infinite;
  animation:spin 1.5s linear infinite;
}

.play.active {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  z-index: 0;
}
.play.active span:before {
  content: '';
  border: 20px #9C210C solid;
  border-top-width: 40px;
  border-bottom-width: 0px;
  border-left-color: transparent;
  top: 50%;
  left: 45%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.play.active span:after {
  content: '';
  border: 20px #9C210C solid;
  border-bottom-width: 0;
  border-left-color: transparent;
  border-top-width: 40px;
  border-radius: 0%;
  top: 50%;
  left: 45%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}




@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spinCounter { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spinCounter { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spinCounter { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

#history_page_prev, #history_page_next{
    background-color: #666;
    width: 100px;
    text-align: center;
    margin: 1em;
    padding-top: .1em;
    height: 30px;
    border-radius: 5px;
    color: #f2f2f2;
    cursor: pointer;
    text-transform: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: #fff 1px 1px 0;
    text-shadow: -.3px -.3px .3px rgba(0,0,0,0.67);
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
    transition: all .3s;
}



#history_page_prev:hover, #history_page_next:hover{
  background-color: #999;
}

#history_page_prev{
     float: left;
}

#history_page_next{
    float: right;
}





.job-lights-container{
    display: none;
    bottom: 7px;
    width: 70%;
    height: 36px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.job-status-indicator{
    position: relative;
    background-color: #FFFFFF;
    top: 50%; left: 50%;
    transform: translate(-49.5%,-49.5%);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: all 1s;
}

.job-status-light{
    display: inline-block;
    margin-right: 3%;
    margin-left: 3%;
    position: relative;
    border-radius: 50%;
    width: 38px;
    height:38px;

}

@-webkit-keyframes off {
    0% {
    background: #B10000; /* Old browsers */
    -webkit-box-shadow: 0px 0px 6px 2px #B10000;
        -moz-box-shadow: 0px 0px 6px 2px #B10000;
            box-shadow: 0px 0px 6px 2px #B10000;

    }
    90%{
     background: none; /* Old browsers */

    }
    100% {
    background: #B10000; /* Old browsers */

    }
}

@-moz-keyframes off {
    0% {
    background: #B10000; /* Old browsers */
    -webkit-box-shadow: 0px 0px 6px 2px #B10000;
        -moz-box-shadow: 0px 0px 6px 2px #B10000;
            box-shadow: 0px 0px 6px 2px #B10000;

    }
    90%{
     background: none; /* Old browsers */

    }
    100% {
    background: #B10000; /* Old browsers */

    }
}
@-webkit-keyframes pause {
    0% {
    background: #DD8728; /* Old browsers */
    -webkit-box-shadow: 0px 0px 6px 2px #DD8728;
        -moz-box-shadow: 0px 0px 6px 2px #DD8728;
            box-shadow: 0px 0px 6px 2px #DD8728;

    }
    90%{
     background: none; /* Old browsers */

    }
    100% {
    background: #DD8728; /* Old browsers */

    }
}

@-moz-keyframes pause {
    0% {
    background: #DD8728; /* Old browsers */
    -webkit-box-shadow: 0px 0px 6px 2px #DD8728;
        -moz-box-shadow: 0px 0px 6px 2px #DD8728;
            box-shadow: 0px 0px 6px 2px #DD8728;

    }
    90%{
     background: none; /* Old browsers */

    }
    100% {
    background: #DD8728; /* Old browsers */

    }
}

.job-status-light.one {

}


.job-status-light.two {

}

.job-status-light.three {

}

.progressbar {
    /*font-size: 14px;
	background-color: #444;*/
    color: white;
    background-color: #aaaaaa;
   /* padding: 0.5em 1em;*/
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 1em;
}

.progressbar .fill {
	background-color: #2E3865;
	width: 0%;
	height: 100%;
	position: relative;
	transition: width 0.3s ease 0s;
  border-radius:0;
}

.hidden, .hide { display:none; }
