[Unit]
Description=FabMo Engine

[Service]
ExecStart=/bin/node /opt/fabmo/app/server.js &
Type=simple
User=root
Restart=always
StandardOutput=syslog
StandardError=syslog
WorkingDirectory = /opt/fabmo/app/

[Install]
WantedBy=multi-user.target
