[Unit]
Description=gunicorn-app

[Service]
ExecStart=/opt/shopbot/env/bin/gunicorn -D -n gunicorn-app -w5 main:app -b 127.0.0.1:8000 --access-logfile /opt/shopbot/logs/gunicorn.net-access.log --error-logfile /opt/shopbot/logs/gunicorn.net-error.log
Type=forking
User=root
Restart=always
StandardOutput=syslog
StandardError=syslog
WorkingDirectory = /opt/shopbot/app/

[Install]
WantedBy=multi-user.target
