[Unit]
Description=gunicorn daemon

[Service]
Type=forking
PIDFile=/run/gunicorn.pid
User=root
WorkingDirectory=/opt/shopbot/app
ExecStart=/opt/shopbot/env/bin/gunicorn -p /run/gunicorn.pid- main:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
