[Unit]
Description=Shopbot tool communication service
After=tlp-init.service

[Service]
Type=normal
RemainAfterExit=no
ExecStart=/opt/shopbot/env/bin/python /opt/shopbot/app/shopbotd/shopbotd.py

[Install]
WantedBy=multi-user.target
