[Unit]
Description=shopbot-api

[Service]
ExecStart=/bin/node /opt/shopbot/app/shopbot-api/server.js &
Type=simple
User=root
Restart=always
StandardOutput=syslog
StandardError=syslog
WorkingDirectory = /opt/shopbot/app/

[Install]
WantedBy=multi-user.target
