/* Foundation OverWrite */

body {
  background: #eee;
}

h1, h2, h3, h4, h5, h6 {
  color: #666;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

td.run-control {
    width: 60px;
    cursor: pointer;
    padding: .3em;
    text-align: center;
    margin-left: 1em;
}


td.run-control img {
    margin-left: .5em;
    padding: .3em;
    border-radius: 5px;
    border: 1px solid #333333;
    box-shadow: .5px .5px .5px #aaaaaa;
    transform: translateX(-5px);
}

td.edit-control {
    width: 60px;
    cursor: pointer;
    padding: .3em;
    
}

td.edit-control img{
    padding: .5em;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: .5px .5px .5px #aaaaaa;
}

td.delete-control {
    padding: .3em;
    width: 60px;
    cursor: pointer;
    margin-left: 1em; 
}

td.delete-control img {
    padding: .5em;
    border-radius: 5px;
    border: 1px solid #333333;
    box-shadow: .5px .5px .5px #aaaaaa;
}

tr.shown td.details-control {
    background: url('images/details_close.png') no-repeat center center;
    width: 40px;
}

.child-row-label {
  font-weight: bold;
  color: red;
}


.hidden, .hide { display:none; }

section .title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  margin-bottom: 0.625em;
}

section .title .button { margin-bottom: 0; }

section .center { text-align: center; }

section.container {
  background-color: #fff;
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  margin: 0;
  padding: 0.5rem;
}

@media only screen and (max-width: 64.063em) and (min-width: 40.063em){
  section.container {
    margin: 2em;
  }
}

@media only screen and (min-width: 40.063em) {

  section.container {
    border-radius: 5px; 
    margin: 2em;
  }
}

section > .row:not(.title) , .separator{
  padding-top: 6px;
  padding-top : 0.375rem;
  padding-bottom: 6px;
  padding-bottom: 0.375rem;
  margin-bottom: 10px;
  margin-bottom: 0.625em;
  border-bottom: 1px solid #ccc;
  line-height: 40rem;
  line-height: 2.5rem;
  vertical-align: middle;
}

section > .row:last-child, section > .content:last-child  > .row {
  padding-bottom: 0;
  border-bottom: none;
}


