<div class="main">
    <div class="err" id="add_err"></div>
    <div class = "login_panel">
      <div class="login_panel_header"><h1>Log In</h1><hr></div>
      <form id= "login_form" action="/authentication/login" method="post">
        <div>
            <label>Username
              <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"   type="text" name="username"/>
            </label>
        </div>
        <div>
            <label>Password
              <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"  type="password" name="password"/>
            </label>
        </div>
        <div>
            <input class="button" type="submit" value="Log In"/>
            
        </div>
      </form>
    </div>
  </div>
  