<h2><%= name %></h2>
<div class="page_container">
	<!-- Page content goes here -->

	<dl class="tabs" data-tab>
	  <dd class="active"><a href="#dashboard_settings_form">Dashboard</a></dd>
	  <dd><a href="#engine_settings_form">Engine</a></dd>
	  <dd><a href="#core_settings_form">Driver</a></dd>
	</dl>
	<div class="tabs-content">
	  <div class="content active" id="dashboard_settings_form">Empty</div>
	  <div class="content" id="engine_settings_form">Empty</div>
	  <div class="content" id="core_settings_form"></div>
	  
	</div>
</div>