/* General */
#loadingMessage {
    position: absolute;
    background: #ffffff;
    border: gray solid 1px;
    z-index: 10;
    width : auto;
    height : 100px;
    padding : 20px;
    margin : 20px;
    border-radius: 3px;
}

.widget {
    cursor: pointer;
    position: absolute;
    z-index: 2;
}

.run-now{
    position: absolute;
    margin: 1rem;
    right: 0;
    background-color: #32B433;
    padding: 0.7rem;
    border-radius: 10px;
    color: #eee;
    cursor: pointer;
    display: none;
}


/* GCode display */
/*
 * Structure explanation:
 * + gcode-displayer
 * |
 * |-- toggleGCode
 * |
 * |-+ gcode-container
 * | |
 * | |-+ gcode-lines
 * | | |
 * | | |- gcode-line
 * | | |
 * | | |- gcode-line
 * | | | ..........
 *
 * gcode-displayer is the div containing the element toggling the code.
 * toggleGCode is the p toggling the code.
 * gcode-container is the div containing the table containing the code. It is
 * here to allow scrolling the code while letting the toggleGCode element on
 * top.
 * gcode-lines is the table containing the code
 * gcode-line is the class for each line of code
 */

.highlighted {
    background: #af8700;
    color: #ffffd7;
}

/* .preGCode { */
/*     margin: 0px; */
/*     padding: 0px; */
/*     background: #ffffd7; */
/* } */

.liGCode {
    list-style-type: none;
    background: #ffffd7;
    cursor: pointer;
}

#gcode-displayer {
    position: absolute;
    width: 200px;
    max-height: 200px;
    z-index: 2;
    background: #ff6600;
    color: #ffffff;
}

#toggleGCode {
    width: 100%;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#gcode-lines {
    width : 100%;
    margin: 0;
    border-collapse:collapse;
    vertical-align: middle;
}

.gcode-line {
    cursor : pointer;
    height : 30px;
}

#gcode-lines tr:nth-child(2n+1) {
    background:#fff;
}

#gcode-lines tr {
    background:#ddd;
}

#gcode-container {
    width: 100%;
    background: #ffffd7;
    color: #585858;
    max-height: 200px;
    overflow: auto;
    padding: 0px;
    margin: 0px;
}
