G17
G0Z1.5748
G0X0.0000Y0.0000S12000 (GoTo ZERO POSITION SET SPEED TO 12000)
M3 (TURN ROUTER ON )
M8 (TURN ROUTER ON )

(TODO : GEnerate the circle matrix)

(Do a rectangle from Xstart,Ystart to Xend,Yend at Fspeed)
(Parameters : Xstart,Ystart,Xend,Yend,Fspeed)
G0X{{Xstart}}Y{{Ystart}}F{Fspeed} (GOTO the start position)
G1X{{Xend}}F{{Fspeed}}
G1X{{Yend}}F{{Fspeed}}
G1X{{Xstart}}F{{Fspeed}}
G1X{{Ystart}}F{{Fspeed}}






M30