[Unit]
Description=FabMo Engine

[Service]
ExecStart=/usr/bin/node /fabmo/engine/server.js &
Type=simple
User=root
Restart=always
StandardOutput=syslog
StandardError=syslog
WorkingDirectory = /fabmo/engine/

[Install]
WantedBy=multi-user.target
