[Unit]
Description=FabMo Engine

[Service]
ExecStart=/usr/bin/node /fabmo/server.js &
Type=simple
User=root
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=FBMO
WorkingDirectory = /fabmo/

[Install]
WantedBy=multi-user.target
