body {
}

.delete-button {
  background-image: url('../images/ex.png');
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#dropzone { 
  border: 5px solid transparent;
  border-radius: 10px;   
}

#dropzone .hovershow {
  opacity: 0.0;
} 

#dropzone .hoverdim {
  opacity: 1.0;
}

#dropzone.hover { 
  border: 5px dashed #ccc; 
  border-radius: 10px;
}
 
#dropzone.hover .hovershow {
  opacity: 1.0;
}

#dropzone.hover .hoverdim {
  opacity: 0.2;
}

#dropzone .message {
  z-index: 3;
  display: block; 
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  color: black;
  font-weight: bold;
  font-style: italic;
  width:100%;
  margin: 0 0 0 -50%;
  opacity: 0%;
}

.app-icon {
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 3px 3px 3px #aaaaaa;
}
.hidden, .hide { display:none; }
