[Unit]
Description=Run script to export network configuration to a thumbdrive

[Service]
ExecStart=/fabmo/files/network_conf_fabmo/export_network_config_thumb.sh

[Install]
WantedBy=multi-user.target
