[Unit]
Description=Network Monitor and Switch Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/fabmo/files/network_conf_fabmo/network-monitor.sh
Restart=always

[Install]
WantedBy=multi-user.target
