[Unit]
Description=Set up wlan0_ap interface
After=network.target

[Service]
Type=oneshot
ExecStart=/fabmo/files/network_conf_fabmo/setup_wlan0_ap.sh

[Install]
WantedBy=multi-user.target
